/* 폰트 */
@font-face {
  font-family : '한글폰트1';
  src : url(/font/GrandifloraOne-Regular.ttf)
}
@font-face {
  font-family : '영어폰트1';
  src : url(/font/RussoOne-Regular.ttf)
}


/* 공통 */
body {
	margin: 0;
	padding: 0;
}
tC{text-align: center;}
tR{text-align: right;}
tL{text-align: left;}


/* header */
header {
	width: 1200px;
	margin: auto;
	height: 65px;
	text-align: center;
}
.club-img {
	margin: 0px 0px 0px 0px; line-height: 120%;
	font-family: '영어폰트1';
	float: left;
	height:auto;
	font-weight: bold;
}
.club-title {
	float: left;
	width: 40%;
	height: auto;
	margin-left: 300px;
}
.club-title p {
	margin: 0px 0px 0px 0px; line-height: 120%;
}
.club-title .title{
	margin: auto;
	font-family: '한글폰트1';
	margin-top: 10px;
	font-size: 25px;
	font-weight: bold;
}
.club-subTitle .title{
	font-size: 8px;
}
.club-user {
	position: relative;
	float: right;
	margin-top: 15px;
	width: 25%;
	color: darkgray;
	height: auto;
	text-align: right;
}
.club-user .userName {
	font-size: 16px;
}
.club-user .userAuthor {
	font-size: 12px;
}
.club-user .userAuthor img{
	position: absolute;
    right: 60px;
    top: -2px;
}
.club-user .setting {
	padding-left: 30px;
}


/* footer */
footer {
	width: 1200px;
	margin: auto;
	height: 100px;
}


/* section */
section {
	width: 1000px;
	margin: auto;
	margin-top: 15px;
	padding:1.5em;
 	background: #f5f5f5
}
section h3{
	margin: 0;
	margin-bottom: 10px;
}
section table {
  	border: 1px #a39485 solid;
  	font-size: .9em;
  	box-shadow: 0 2px 5px rgba(0,0,0,.25);
  	width: 100%;
  	border-collapse: collapse;
  	border-radius: 5px;
  	overflow: hidden;
}
section th {
  	text-align: center;
}
section thead {
  	font-weight: bold;
  	color: #fff;
  	background: black;
}
section td, th {
	padding: 1em .5em;
  	vertical-align: middle;
}
td {
	text-align: center;
  	border-bottom: 1px solid rgba(0,0,0,.1);
  	background: #fff;
}
a {
	color: #73685d;
}
  
@media all and (max-width: 768px) {
  	table, thead, tbody, th, td, tr {
    	display: block;
  	}
  	th {
	    text-align: right;
  	}	
  	table {
    	position: relative; 
    	padding-bottom: 0;
    	border: none;
    	box-shadow: 0 0 10px rgba(0,0,0,.2);
  	}
  	thead {
    	float: left;
    	white-space: nowrap;
  	}
  	tbody {
    	overflow-x: auto;
    	overflow-y: hidden;
    	position: relative;
    	white-space: nowrap;
  	}
  	tr {
    	display: inline-block;
    	vertical-align: top;
  	}
  	th {
    	border-bottom: 1px solid #a39485;
	}
	td{
    	border-bottom: 1px solid #e5e5e5;
	}
}


/* nav */
nav {
	width: 1200px;
	margin-top: 3px;
	margin: auto;
	height: auto;
} 
nav ul {
	width: 100%;
	background-color: black;
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
nav ul li{
	display: inline-block;
}
.home {
	background-color: darkgoldenrod;
	width: 100px;
	text-align: center;
	font-weight: bold;
	float: left;
}
.alarm {
	background-color: steelblue;
	width: 100px;
	text-align: center;
	font-weight: bold;
	float: right;
}
.home a, .alarm a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 16px 16px;
}
.dropdown {
	position: relative;	
}
.dropdown-menu {
	min-width: 90px;
	text-align: center;
	color: white;
	padding: 16px;
	font-size: 16px;
	cursor: pointer;
}
.dropdown-content {
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,2)
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;	
	display: block;
}
.dropdown-content {
	display: none;	
}
.dropdown-menu:hover:not(.home .alarm) {
	background-color: #555;
	color: white;	
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-content a:hover {
	background-color: #f1f1f1;
}




/* aside */
/* 노멀라이즈 시작 */
aside ul, li {
  margin: 0;
  padding: 0;
  list-style: none;   /* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
}

aside a {
  color: inherit;   /* 부모 엘리먼트의 값을 물려받는다 */
  text-decoration: none;    /* 해당 태그의 text-decoration 속성을 none 값으로 하는 것으로 밑줄을 제거한다 */
}/* 노멀라이즈 끝 */

/* 커스텀 시작 */
.side-bar > ul ul {
  display: none;
}

/* 사이트의 높이를 5000px로 만들어 스크롤 생성 */
body {
  height: 5000px;
}

/* 사이드바 시작 */
/* 사이드바의 너비와 높이를 변수를 통해 통제 */
:root {
  --side-bar-width: 270px;
  --side-bar-height: 90vh;
  --side-bar__icon: .5s;
}

.side-bar {
  position: fixed;    /* 스크롤을 따라오도록 지정 */
  background-color: black;
  width: var(--side-bar-width);
  min-height: var(--side-bar-height);   /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
  margin-top: calc((100vh - var(--side-bar-height)) / 2);    /* 사이드바 위와 아래의 마진을 동일하게 지정 */
}

/* 아이콘 시작 */
.side-bar-icon-box {
  display: flex;
  justify-content: flex-end;
}

.side-bar-icon {
  position: relative;
  width: 23px;
  height: 17px;
  margin: 15px;
  margin-top: 20px;
  transition: .5s;
}

.side-bar-icon > div {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: white;
  transition: all var(--side-bar__icon);
}

.side-bar-icon > div:nth-of-type(1) {
  top: 0;
  width: auto;
  left: 0;
  right: 0;
  transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), right calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), height calc(var(--side-bar__icon) / 2) 0s;
}

.side-bar-icon > div:nth-of-type(2) {
  top: 40%;
  transform-origin:bottom left;
}

.side-bar-icon > div:nth-of-type(3) {
  top: 80%;
  left: auto;
  right: 0;
  transform-origin:bottom right;
}


.side-bar:hover .side-bar-icon {
  transform: translate(-198px, 0);
}

.side-bar:hover .side-bar-icon > div:nth-of-type(2) {
  transform:rotate(45deg);
  width: 70.5%;
  height: 25%;
}

.side-bar:hover .side-bar-icon > div:nth-of-type(3) {
  top: 40%;
  transform:rotate(-45deg);
  width: 70.5%;
  height: 25%;
}

.side-bar:hover .side-bar-icon > div:nth-of-type(1) {
  left: 41%;
  right: 41%;
  height: 100%;
  transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) 0s, right calc(var(--side-bar__icon) / 2) 0s, height calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2);
}
/* 아이콘 끝 */

/* 모든 메뉴의 a에 속성값 부여 */
.side-bar ul > li > a {
  display: block;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  transition: .5s;
}

/* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
.side-bar > ul > li {
  position: relative;
}

/* 모든 메뉴가 마우스 인식 시 반응 */
.side-bar ul > li:hover > a {
  background-color: #555;
  border-bottom: 1px solid #999;
}

/* 1차 메뉴의 항목이 마우스 인식 시에 2차 메뉴 등장 */
.side-bar > ul > li:hover > ul {
  display: block;
  position: absolute;
  background-color: #888;
  top: 0;         /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
  left: 100%;     /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
  width: 100%;    /* 1차 메뉴의 너비를 상속 */
}

/* 사이드바 너비의 80%만큼 왼쪽으로 이동 */
.side-bar {
  border-radius: 20px;
  transform: translate(calc(var(--side-bar-width) * -0.8), 0);
  transition: .5s;
}

/* 마우스 인식 시 원래의 위치로 이동 */
.side-bar:hover {
  transform: translate(-20px, 0);   /* 둥근 모서리의 너비만큼 숨겨주기 */
}
/* 사이드바 끝 */
/* 커스텀 끝 */



