<!DOCTYPE html>
<html lang="ko" class="opacity-0">
    <!-- BEGIN: Head -->
	<head>
	    <meta charset="utf-8">
	    <meta name="csrf-token" content="ceKdwoQjZ4VuoGqoSQaSREwB7MD9sjwFnfhlp7MH">
	    <title>책과 사람사이</title>
	    <!-- BEGIN: CSS Assets-->
	    <link rel="stylesheet" href="../../dist/css/vendors/tippy.css">
	    <link rel="stylesheet" href="../../dist/css/vendors/litepicker.css">
	    <link rel="stylesheet" href="../../dist/css/vendors/tiny-slider.css">
	    <link rel="stylesheet" href="../../dist/css/themes/enigma/side-nav.css">
	    <link rel="stylesheet" href="../../dist/css/vendors/leaflet.css">
	    <link rel="stylesheet" href="../../dist/css/vendors/simplebar.css">
	    <link rel="stylesheet" href="../../dist/css/components/mobile-menu.css">
	    <link rel="stylesheet" href="../../dist/css/app.css"> 
	    <!-- END: CSS Assets-->
	    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
	    <script>
 			jQuery(document).ready(function(){
				//메뉴선택
				//menuMove('0', 'NOT', 'HOME', '', '')
			})
		</script>
	</head>
	<!-- END: Head -->
        
    <body class="py-5">
    	<!-- BEGIN: 사이드 화면 테마 -->
    	<div id="theme-switcher-side"></div>
    	
    	<!-- BEGIN: 화면영역 -->
    	<div class="enigma py-5 px-5 md:py-0 sm:px-8 md:px-0 before:content-[''] before:bg-gradient-to-b before:from-theme-1 before:to-theme-2 dark:before:from-darkmode-800 dark:before:to-darkmode-800 md:before:bg-none md:bg-slate-200 md:dark:bg-darkmode-800 before:fixed before:inset-0 before:z-[-1]">
    		<!-- BEGIN: 모바일 메뉴 -->	
    		<div id="mobile-menu"></div>
    		
    		<!-- BEGIN: 상단 바 -->	
    		<div id="top-bar"></div>
    		
    		<div class="flex overflow-hidden">
    			<!-- BEGIN: 사이드 메뉴 -->	
    			<div id="side-munu"></div>
        
	            <!-- BEGIN: Content -->
	            <div class="content">
					<div class="">
					   HOME
					</div>
	            </div>
    		</div>
        </div>
    </body>
    <!-- BEGIN: Vendor JS Assets-->
    <script src="/js/layout.js"></script>
    <!-- END: Vendor JS Assets-->
</html>
 