<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" style="height:100%">
    <!-- 공통 헤드-->
    <th:block th:replace="fragments/header :: headFragment"></th:block>
	<body style="width: 100%; min-width: 1280px;">
		<div class="Wrap">
	        <!-- 상단 바 + 메뉴-->
	        <th:block th:replace="fragments/top :: topFragment(${layout})"></th:block>
			<!-- container 시작 -->
    		<div class="container" style="height:calc(100% - 109px);box-sizing:border-box;">
        		<div class="inner">			
					<!-- 좌측메뉴 -->
                    <th:block th:replace="fragments/side :: sideFragment(${layout})"></th:block>
           			<div class="contents">
	           			<!-- 본문-->
	                    <th:block layout:fragment="content"></th:block>
	                </div>
           		</div>
           	</div>
	        <!-- 공통 하단-->
	        <div id="footer"> 
	        	<th:block th:replace="fragments/footer :: footerFragment"></th:block>
	        </div>
        </div>


        <!-- 공통 스크립트-->
        <th:block th:replace="fragments/script :: scriptFragment(${layout})"></th:block>
        <!-- 사용자 스크립트 영역 -->
    	<th:block layout:fragment="script"></th:block>
    </body> 
</html>