<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <!-- Head -->
    <th:block th:fragment="headFragment">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link th:href="@{/css/jquery-ui.css}" rel="stylesheet" />
            <link th:href="@{/css/jquery-ui.theme.css}" rel="stylesheet" />
            
            <link th:href="@{/css/tapCmm/reset.css}" rel="stylesheet" />
            <link th:href="@{/css/tapCmm/main-style.css}" rel="stylesheet" />
            
            <link th:href="@{/css/tapCmm/sub-gnb.css}" rel="stylesheet" />
            <link th:href="@{/css/tapCmm/sub1-style.css}" rel="stylesheet" />
            
            <link th:href="@{/css/tapCmm/header-style.css}" rel="stylesheet" />
            <link th:href="@{/css/tapCmm/footer-style.css}" rel="stylesheet" />
            <link th:href="@{/css/toast.css}" rel="stylesheet" />
        </head>
    </th:block>    
</html>