<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통으로 쓰이는 script 파일을넣는다.-->
<th:block th:fragment="scriptFragment(layout)">
 	<script th:src="@{/scripts/jquery.min.js}"></script>
 	<script th:src="@{/scripts/jquery-ui.js}"></script>
    <script th:src="@{/scripts/jquery.easing.min.js}"></script>
    <script th:src="@{/scripts/sub1-sidebar.js}"></script>
    <script th:src="@{/scripts/common.js}"></script>
    <script th:src="@{/scripts/main.js}"></script>
    <script th:src="@{/scripts/session.js}"></script>
    <script th:src="@{/scripts/toast.js}"></script>
    <script th:src="@{/scripts/kcp.js}"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
    	//메뉴 open 스타일 
	    $(document).ready(function() {
	       	$("#"+[[ ${layout[1].upperMenuId} ]]).click();
	       	$("#"+[[ ${layout[1].menuId} ]]).addClass("open");
	       	
	       	
	       	//메세지 있는 경우 toast 출력
	       	if(sessionStorage.getItem("msg")){
	       		action_popup.toast(sessionStorage.getItem("msg"),2);
		       	sessionStorage.removeItem("msg"); // 삭제
	       	}
	    });
	/*]]>*/ 
    </script>    
</th:block>
</html>