<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="topFragment(layout)">
	<!-- 타이틀 헤더 -->
	<div id="header">
		<header>
		    <div class="top-wrap">
		        <div class="inner">
		            <div class="logo_box">
		                <h2 class="logo"><a href="<c:url value='/cmm/main/mainPage.do'/>"></a></h2>
		            </div>
		            
		            <div class="user_info">
		                <div class="name">
		                	<strong th:text="${layout[0]}"></strong>
		                </div>
		                <a  th:href="@{/logout.do}"  title="로그아웃">로그아웃</a>
		                
		                <div style="margin-top:20px;">
					       	<span id="session">세션유지 시간:</span>
					       	<span id="timer"></span>
				     	</div>
		            </div>
		        </div>
		    </div>
		       
		    <!-- 탑네비 -->
		    <div class="gnb_area">
		        <div class="gnb">
		        	<ul>
		        		<li th:each="row, status : ${layout[2]}" >
		        			<th:block th:if="${layout[1].rootMenuId == row.menuId}">
		        				<a th:href="@{${row.menuUrl}}" th:text="${row.menuNm}" class="topMenu check" ></a>
		        			</th:block>
		        			<th:block th:unless="${layout[1].rootMenuId == row.menuId}">
		        				<a th:href="@{${row.menuUrl}}" th:text="${row.menuNm}" class="topMenu" ></a>
		        			</th:block>
		        		</li>
		        	</ul>	
		        </div>
		    </div>
		</header> 
	</div>     
</th:block>
</html>