<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>리스트 페이지</title>
    </th:block>

    <th:block layout:fragment="content">
    	 <div class="search_field" style="float: left; width: 30%; margin-right:40px;">
			<div class="search_field_loc">
			    <h5><strong>최상위 메뉴</strong></h5>
			</div>
			<div class="inline_tablestyle">
				<table>
					<thead>
						<tr>
							<th>메뉴ID</th>
							<th>메뉴명</th>
							<th>LEVEL</th>
						</tr>
					 </thead>
					<tbody id="firstLevMenuList" class="scroll_box">
					</tbody>
				</table>
			</div>
			<br>
			<!-- 버튼부분 -->
			<div style="float: right; margin: 10px;">
				<ul class="buttons">
					<li><a href="#" onclick="javascript:fn_fresh('zeroLevFrm');"><img src="/images/tapCmm/save.svg"><p>신규</p></a></li>
					<li><a href="#" onclick="javascript:fn_regist('zeroLevFrm');"><img src="/images/tapCmm/save.svg"><p>저장</p></a></li>
					<li><a href="#" onclick="javascript:fn_delete('zeroLevFrm');"><img src="/images/tapCmm/trash.svg"><p>삭제</p></a></li>
				</ul>
			</div>
			 <!-- 최상위메뉴 detail부분 -->
			<form id="zeroLevFrm">
				<div class="modify_user" style="width:100%;">
	<!-- 				<input id="hdclCode" name="hdclCode"/>  -->
					<input type='hidden' id="hdZeroMenuId" name="hdZeroMenuId"/>
					<span class="alr" id="zeroLevFrmAlert"></span>
					<table>
						<tr>
							<th width="20%" height="23" class="required_text" scope="row" nowrap ><label for="menuId">메뉴ID</label><img src="/images/required.gif" alt="필수"  width="15" height="15"></th>          
							<td width="80%" nowrap="nowrap">
								<input id="menuId" name="menuId" maxlength="10" onkeydown="fn_duplicate(`zeroLevFrm`,this);"/>
							</td>    
						</tr> 
						<tr> 
							<th height="23" class="required_text" scope="row" ><label for="menuNm">메뉴명</label></th>
							<td>
								<input id="menuNm" name="menuNm" maxlength="300" />
							</td>
						</tr> 
						<tr> 
							<th height="23" class="required_text" scope="row" ><label for="menuDesc">메뉴 설명</label></th>
							<td>
								<input id="menuDesc" name="menuDesc" maxlength="300"/>
							</td>
						</tr> 
						<tr> 
							<th height="23" class="required_text" scope="row" ><label for="menuUrl">url</label></th>
							<td>
								<input id="menuUrl" name="menuUrl" maxlength="300"/>
							</td>
						</tr> 
						<tr> 
							<th height="23" class="required_text" scope="row" ><label for="menuOrder">메뉴순서</label></th>
							<td>
								<input id="menuOrder" name="menuOrder" maxlength="300"/>
							</td>
						</tr> 
						<tr> 
							<th height="23" class="required_text" scope="row" ><label for="menuLevel">LEVEL</label></th>
							<td>
								<input id="menuLevel" name="menuLevel" maxlength="300" readonly="readonly" value="0"/>
							</td>
						</tr> 
						<tr> 
							<th width="20%" height="23" class="required_text" scope="row" nowrap ><label for="useYn">사용여부</label><img src="/images/required.gif" alt="필수"  width="15" height="15"></th>
							<td width="30%" nowrap class="title_left" colspan="3">
								<select id="useYn" name="useYn">
								<option value="Y" label="Yes"/>
								<option value="N" label="No"/>
								</select>
							</td>    
						</tr>     
					</table>
				</div>
			</form>
        </div><!-- search_field(하위메뉴 div) end -->
		<!-- 하위메뉴 -->
		<div class="search_field" style="float: left; width: 30%; margin-right:40px;">
		<div class="search_field_loc">
       		<h5><strong>하위메뉴</strong></h5>
		</div>
		<!-- 하위메뉴 list -->
		<div class="inline_tablestyle">
			<table>
				<thead>
					<tr>
						<th>메뉴ID</th>
						<th>메뉴명</th>
						<th>LEVEL</th>
					</tr>
				</thead>
				<tbody id="secondLevMenuList" class="scroll_box">                 
				</tbody>
			</table>
		</div>
		<!-- 버튼부분 -->
		<div style="float: right; margin: 10px;">
			<ul class="buttons">
				<li><a href="#" onclick="javascript:fn_fresh('oneLevFrm');"><img src="/images/tapCmm/save.svg"><p>신규</p></a></li>
				<li><a href="#" onclick="javascript:fn_regist('oneLevFrm');"><img src="/images/tapCmm/save.svg"><p>저장</p></a></li>
				<li><a href="#" onclick="javascript:fn_delete('oneLevFrm');"><img src="/images/tapCmm/trash.svg"><p>삭제</p></a></li>
			</ul>
		</div>
		<!-- 하위메뉴 detail부분 -->
        <form id="oneLevFrm">
	        <div class="modify_user" id="commlist">
	<!--    		<input id="hdcmCode" name="hdcmCode"/> -->
		   		<input type='hidden' id="hdOneMenuId" name="hdOneMenuId"/>
		   		<input type='hidden' id="oneLevRootMenuId" name="oneLevRootMenuId"/>
		   		<span class="alr" id="oneLevFrmAlert"></span>
		     	<table>
			        <tr>
						<th width="20%" height="23" class="required_text" scope="row" nowrap ><label for="upperMenuId">상위메뉴ID</label><img src="/images/required.gif" alt="필수"  width="15" height="15"></th>          
						<td width="80%" nowrap="nowrap">
							<input id="oneLevUpperMenuId" name="upperMenuId" maxlength="60" readonly="readonly"/>
						</td>    
					</tr> 
			        <tr>
						<th width="20%" height="23" class="required_text" scope="row" nowrap ><label for="menuId">메뉴ID</label><img src="/images/required.gif" alt="필수"  width="15" height="15"></th>          
						<td width="80%" nowrap="nowrap">
							<input id="oneLevMenuId" name="menuId" maxlength="10" onkeydown="fn_duplicate(`oneLevFrm`,this);"/>
						</td>    
					</tr> 
					<tr> 
						<th height="23" class="required_text" scope="row" ><label for="oneLevFrmNm">메뉴명</label></th>
						<td>
							<input id="oneLevMenuNm" name="menuNm" maxlength="300"/>
						</td>
					</tr> 
					<tr> 
						<th height="23" class="required_text" scope="row" ><label for="menuDesc">메뉴 설명</label></th>
						<td>
							<input id="oneLevMenuDesc" name="menuDesc" maxlength="300"/>
						</td>
					</tr> 
					<tr> 
						<th height="23" class="required_text" scope="row" ><label for="menuUrl">url</label></th>
						<td>
							<input id="oneLevMenuUrl" name="menuUrl" maxlength="300"/>
						</td>
					</tr> 
					<tr> 
						<th height="23" class="required_text" scope="row" ><label for="oneLevFrmOrder">메뉴순서</label></th>
						<td>
							<input id="oneLevMenuOrder" name="menuOrder" maxlength="300"/>
						</td>
					</tr> 
					<tr> 
						<th height="23" class="required_text" scope="row" ><label for="menuLevel">LEVEL</label></th>
						<td>
							<input id="oneLevMenuLevel" name="menuLevel" maxlength="300" readonly="readonly" value="1"/>
						</td>
					</tr> 
					<tr> 
						<th width="20%" height="23" class="required_text" scope="row" nowrap ><label for="oneLevUseYn">사용여부</label><img src="/images/required.gif" alt="필수"  width="15" height="15"></th>
						<td width="30%" nowrap class="title_left" colspan="3">
							<select id="oneLevUseYn" name="useYn">
							<option value="Y" label="Yes"/>
							<option value="N" label="No"/>
							</select>
						</td>    
					</tr>        
				</table>
			</div>
		</form>
        </div>  
        <!-- search_field(최하위메뉴 div) end -->    
		<!-- 최하위메뉴 -->
		<div class="search_field" style="float: left; width: 30%; margin-right:40px;">
		<div class="search_field_loc">
       		<h5><strong>최하위메뉴</strong></h5>
		</div>
		<!-- 최하위메뉴 list -->
		<div class="inline_tablestyle">
			<table>
				<thead>
					<tr>
						<th>메뉴ID</th>
						<th>메뉴명</th>
						<th>LEVEL</th>
					</tr>
				</thead>
				<tbody id="thirdLevMenuList" class="scroll_box">                 
				</tbody>
			</table>
		</div>
		<!-- 버튼부분 -->
		<div style="float: right; margin: 10px;">
			<ul class="buttons">
				<li><a href="#" onclick="javascript:fn_fresh('twoLevFrm');"><img src="/images/tapCmm/save.svg"><p>신규</p></a></li>
				<li><a href="#" onclick="javascript:fn_regist('twoLevFrm');"><img src="/images/tapCmm/save.svg"><p>저장</p></a></li>
				<li><a href="#" onclick="javascript:fn_delete('twoLevFrm');"><img src="/images/tapCmm/trash.svg"><p>삭제</p></a></li>
			</ul>
		</div>
		<!-- 최하위메뉴 detail부분 -->
        <form id="twoLevFrm">
	        <div class="modify_user" id="commlist">
	   		<!-- <input id="hddtCode" name="hddtCode"/> -->
		    	<input type='hidden' id="hdTwoMenuId" name="hdTwoMenuId"/>
		    	<input type='hidden' id="twoLevRootMenuId" name="twoLevRootMenuId"/>
	   			<span class="alr" id="twoLevFrmAlert"></span>
		     	<table>
			        <tr>
						<th width="20%" height="23" class="required_text" scope="row" nowrap ><label for="twoLevUpperMenuId">상위메뉴ID</label><img src="/images/required.gif" alt="필수"  width="15" height="15"></th>          
						<td width="80%" nowrap="nowrap">
							<input id="twoLevUpperMenuId" name="upperMenuId" maxlength="60" readonly="readonly"/>
						</td>    
					</tr> 
			        <tr>
						<th width="20%" height="23" class="required_text" scope="row" nowrap ><label for="twoLevFrmId">메뉴ID</label><img src="/images/required.gif" alt="필수"  width="15" height="15"></th>          
						<td width="80%" nowrap="nowrap">
							<input id="twoLevMenuId" name="menuId" maxlength="60" onkeydown="fn_duplicate(`twoLevFrm`,this);"/>
						</td>    
					</tr> 
					<tr> 
						<th height="23" class="required_text" scope="row" ><label for="twoLevFrmNm">메뉴명</label></th>
						<td>
							<input id="twoLevMenuNm" name="menuNm" maxlength="300"/>
						</td>
					</tr> 
					<tr> 
						<th height="23" class="required_text" scope="row" ><label for="twoLevFrmDesc">메뉴 설명</label></th>
						<td>
							<input id="twoLevMenuDesc" name="menuDesc" maxlength="300"/>
						</td>
					</tr> 
					<tr> 
						<th height="23" class="required_text" scope="row" ><label for="twoLevFrmUrl">url</label></th>
						<td>
							<input id="twoLevMenuUrl" name="menuUrl" maxlength="300"/>
						</td>
					</tr> 
					<tr> 
						<th height="23" class="required_text" scope="row" ><label for="twoLevFrmOrder">메뉴순서</label></th>
						<td>
							<input id="twoLevMenuOrder" name="menuOrder" maxlength="300"/>
						</td>
					</tr> 
					<tr> 
						<th height="23" class="required_text" scope="row" ><label for="twoLevFrmLevel">LEVEL1</label></th>
						<td>
							<input id="twoLevMenuLevel" name="menuLevel" maxlength="300" readonly="readonly" value="2"/>
						</td>
					</tr> 
					<tr> 
						<th width="20%" height="23" class="required_text" scope="row" nowrap ><label for="twoLevUseYn">사용여부</label><img src="/images/required.gif" alt="필수"  width="15" height="15"></th>
						<td width="30%" nowrap class="title_left" colspan="3">
							<select id="twoLevUseYn" name="useYn">
							<option value="Y" label="Yes"/>
							<option value="N" label="No"/>
							</select>
						</td>    
					</tr>        
				</table>
			</div>
		</form>
        </div>      
    </th:block>
    
     <th:block layout:fragment="script">
     <style>
		.inline_tablestyle>table>tbody>tr>td{ text-align: center; width:33%;}
		input:read-only{background-color: #F6F6F6;}
		.alr{ font-size :small; color : blue; font-weight :bold;}
		.scroll_box {height : 320px!important;}
		ul.sbuttons>li{float: left; margin-right: 5px;}
		ul.sbuttons>li>a{
			float: left;
			background-color: #222;
			color: #fff;
			text-decoration: none;
			text-align: center;
			font-size:11px; 
			padding: 3.5px 11px;
			line-height: 14px;
		}
		ul.sbuttons>li:last-child{margin-right: 0;}
		ul.sbuttons>li>a>img{
		    margin: 0 3px 0 0; float: left;
		    height: 13px; padding: 2px;
		}
		ul.sbuttons>li>a>p{
		    float: left; margin-top: 2px;
		    line-height: 15px;
		}
	</style>
       <script th:src="@{/scripts/jquery-ui.js}"></script>
        <script th:inline="javascript">
        rootMenuList();
        
        /* 하이라이트 */
        function HighLightTR(target) {
        	const tbody = target.parentNode;
        	const orgBColor = '#ffffff';
           	const orgTColor = '#000000';
        	const backColor = '#d8dceb';
        	const textColor = 'cc3333';
        	const trs = tbody.getElementsByTagName('tr');
         	for ( let i = 0; i < trs.length; i++ ) {
        	  	if ( trs[i] != target ) {
        		  	trs[i].style.backgroundColor = orgBColor;
        		  	trs[i].style.color = orgTColor;
        	  	} else {
        		  	trs[i].style.backgroundColor = backColor;
        		  	trs[i].style.color = textColor;
        	  	}
        	} 
        }
        
        /* 최상위메뉴 리스트*/
		function rootMenuList(){
		   	$.ajax({
				url:"/admin/menu/selectMenuList.do",
				type:"POST",
				dataType:"json",
				cache:false,
				data:{"menuId" : "root"},
				success: function(data){
					$("#firstLevMenuList").empty();
					var datalist = data.result;
					for (let i = 0; i < data.length; i++) {
						menuId   	=	data[i].menuId;   
						menuNm   	=	data[i].menuNm;
						menuUrl 	=	data[i].menuUrl; 	
						menuDesc	=	data[i].menuDesc;
						menuOrder	=	data[i].menuOrder;
						menuLevel	=	data[i].menuLevel;
						useYn    	=	data[i].useYn;
						html='<tr onclick="firstLevMenuDetail(\''+ menuId + '\',\'' + menuNm + '\',\'' + menuUrl + '\',\'' + menuDesc + '\',\'' + menuOrder + '\',\'' + menuLevel + '\',\'' + useYn + '\'); HighLightTR(this);">'
					    +'	<td>'+menuId+'</td>'
					    +'	<td>'+menuNm+'</td>'
					    +'	<td>'+menuLevel+'</td>'
					    +'</tr>'
					$("#firstLevMenuList").append(html);
					}
				},
			   error: function(request,status,error){
				   alert("조회 실패");
				}
			 });
		}
        
		/* root메뉴 상세보기 */ 
		function firstLevMenuDetail(menuId,menuNm,menuUrl,menuDesc,menuOrder,menuLevel,useYn){
 			$("#zeroLevFrmAlert").text('');
 			$("#oneLevRootMenuId").val(menuId);
 			$("#hdZeroMenuId").val(menuId);
 			$("#menuId").val(menuId);
 			$("#menuId").attr("readOnly",true);
 			$("#menuNm").val(menuNm);
 			$("#menuUrl").val(menuUrl);
 			$("#menuDesc").val(menuDesc);
 			$("#menuOrder").val(menuOrder);
 			$("#menuLevel").val(menuLevel);
 			$("#useYn").val(useYn);
 			
 			
 			$("#secondLevMenuList").empty();
 			$("#thirdLevMenuList").empty();
 			secondLevMenuDetail(menuId,'','','','','','1','Y');
 			lowMenulist(menuId);
		}
		
		/* 하위메뉴들 리스트  */
		function lowMenulist(menuId){
			$.ajax({
				url			:"/admin/menu/selectMenuList.do",
				type		:"POST",
				dataType	:"json",
				data		:{"menuId":menuId}, 
				cache		:false,
				success: function(data){
					if(data!=""){
						if(data[0].menuLevel==1){
							$("#secondLevMenuList").empty();
							if(data.length > 0){
								for (let i = 0; i < data.length; i++) {
									upperMenuId	=	data[i].upperMenuId;
									menuId     	=	data[i].menuId;     
									menuNm     	=	data[i].menuNm;     
									menuOrder  	=	data[i].menuOrder;  
									menuUrl   	=	data[i].menuUrl;    
									useYn      	=	data[i].useYn;      
									menuDesc  	=	data[i].menuDesc;   
									menuLevel  	=	data[i].menuLevel;  
									html='<tr onclick="secondLevMenuDetail(\'' + upperMenuId + '\',\'' + menuId + '\',\'' +  menuNm +  '\',\''+ menuUrl+ '\',\''+ menuDesc+ '\',\''+ menuOrder+ '\',\''+ menuLevel+ '\',\''+ useYn+ '\'); HighLightTR(this);">'
									    +'	<td>'+menuId+'</td>'
									    +'	<td>'+menuNm+'</td>'
									    +'	<td>'+menuLevel+'</td>'
									    +'</tr>';
									$("#secondLevMenuList").append(html);
								}
							}
						}else{
							$("#thirdLevMenuList").empty();
							if(data.length > 0){
								for (let i = 0; i < data.length; i++) {
									twoLevUpperMenuId	=	data[i].upperMenuId;
									twoLevMenuId     	=	data[i].menuId;     
									twoLevMenuNm     	=	data[i].menuNm;     
									twoLevMenuOrder  	=	data[i].menuOrder;  
									twoLevMenuUrl   		=	data[i].menuUrl;    
									twoLevUseYn      	=	data[i].useYn;      
									twoLevMenuDesc  		=	data[i].menuDesc;   
									twoLevMenuLevel  	=	data[i].menuLevel;  
									html='<tr onclick="thirdLevMenuDetail(\'' + twoLevUpperMenuId + '\',\'' + twoLevMenuId + '\',\'' +  twoLevMenuNm +  '\',\''+ twoLevMenuUrl+ '\',\''+ twoLevMenuDesc+ '\',\''+ twoLevMenuOrder+ '\',\''+ twoLevMenuLevel+ '\',\''+ twoLevUseYn+ '\'); HighLightTR(this);">'
									    +'	<td>'+twoLevMenuId+'</td>'
									    +'	<td>'+twoLevMenuNm+'</td>'
									    +'	<td>'+twoLevMenuLevel+'</td>'
									    +'</tr>';
									$("#thirdLevMenuList").append(html);
								}	
							}
						}
					}
				},
			    error: function(request,status,error){
				   alert("조회 실패");
				}
			 });
		}
		
		
		/* 하위 상세보기 */			                
		function secondLevMenuDetail(upperMenuId,menuId,menuNm,menuUrl,menuDesc,menuOrder,menuLevel,useYn ){
			$("#oneLevFrmAlert").text('');
			$('#oneLevUpperMenuId').val(upperMenuId)
			$('#hdOneMenuId').val(menuId)
			$("#oneLevMenuId").attr("readOnly",true);
			$("#oneLevMenuId").val(menuId);
			$("#oneLevMenuNm").val(menuNm);
			$("#oneLevMenuOrder").val(menuOrder);
			$("#oneLevMenuUrl").val(menuUrl);
			$("#oneLevUseYn").val(useYn);
			$("#oneLevMenuDesc").val(menuDesc);
			$("#oneLevMenuLevel").val(menuLevel);
			
 			$("#thirdLevMenuList").empty();
 			thirdLevMenuDetail(menuId,'','','','','','2','Y');
			lowMenulist(menuId);
		}
		/* 최하위 상세보기 */
		function thirdLevMenuDetail(twoLevUpperMenuId,twoLevMenuId,twoLevMenuNm,twoLevMenuUrl,twoLevMenuDesc,twoLevMenuOrder,twoLevMenuLevel,twoLevUseYn){
			$("#twoLevFrmAlert").text(''); 
			$("#hdTwoMenuId").val(twoLevMenuId);
			$("#twoLevUpperMenuId").val(twoLevUpperMenuId);
			$("#twoLevMenuId").attr("readOnly",true);
			$("#twoLevMenuId").val(twoLevMenuId);
			$("#twoLevMenuNm").val(twoLevMenuNm);
			$("#twoLevMenuOrder").val(twoLevMenuOrder);
			$("#twoLevMenuUrl").val(twoLevMenuUrl);
			$("#twoLevUseYn").val(twoLevUseYn);
			$("#twoLevMenuDesc").val(twoLevMenuDesc);
			$("#twoLevMenuLevel").val(twoLevMenuLevel);
		}
		
		
		
		/* 분류코드 중복값 확인 함수 */
		function fn_duplicate(codeType,obj){
			let inputText = obj.value;	
			let hdMenuId,menuId;
			if(codeType =='zeroLevFrm'){
				hdMenuId = $("#hdZeroMenuId").val();
				menuId = $("#menuId").val();
			}
			if(codeType =='oneLevFrm'){
				hdMenuId = $("#hdOneMenuId").val();
				menuId = $("#oneLevMenuId").val();
			}
			if(codeType =='twoLevFrm'){
				hdMenuId = $("#hdTwoMenuId").val();
				menuId = $("#twoLevMenuId").val();
			}
			$.ajax({
				url:"/checkMenuId.do",
				type:"POST",
				cache:false,
				data:{"menuId" : inputText}, 
				success: function(checkMenuCount){
						// 중복된 메뉴ID 있음 && 메뉴ID를  수정하려고함
						if(checkMenuCount=='1' && hdMenuId!=menuId){	
							$("#"+codeType+"Alert").text("이미 존재하는 메뉴ID입니다.");
						}else{
							$("#"+codeType+"Alert").text("");
						}
					
				},
				error: function(request,status,error){
				alert("조회 실패");
				}
		}); 
		}
		
		
		/* 유효성검사 */
		 function validator(codeType){
			let form; let fields=[]; let fieldNames=[];
			form = document.getElementById(codeType);
	        fields = [form.menuId, form.menuNm , form.menuDesc , form.menuUrl , form.menuOrder ,form.menuLevel , form.useYn];
			if(codeType == 'zeroLevFrm'){
	            fieldNames = ['최상위메뉴ID', '메뉴명' , '메뉴 설명' ,'URL' , '메뉴순서' , 'LEVEL' , '사용여부' ,];
			}
			if(codeType == 'oneLevFrm'){
	            fieldNames = ['하위메뉴ID', '메뉴명' , '메뉴 설명' ,'URL' , '메뉴순서' , 'LEVEL' , '사용여부' ,];
	            if($("#oneLevUpperMenuId").val()==''){
	            	action_popup.alert("상위메뉴를 선택해주세요.")
	            	return false;
	            }
			}
			if(codeType == 'twoLevFrm'){
	            fieldNames = ['최하위메뉴ID', '메뉴명' , '메뉴 설명' ,'URL' , '메뉴순서' , 'LEVEL' , '사용여부' ,];
	            if($("#twoLevUpperMenuId").val()==''){
	            	action_popup.alert("상위메뉴를 선택해주세요.")
	            	return false;
	            }
			}
			 // fields순서대로 id,name 여부 조회
            for (let i = 0, len = fields.length; i < len; i++) {
                if ( !isValid(fields[i], fieldNames[i]) ) {
                     return false;
                }
            }
		 	return true; 
		}	 
		
		
		
		/* 저장버튼 */
		function fn_regist(codeType){
			let hdMenuId;
			let params=[];
			let ckval = validator(codeType); //유효성검사
			let param = $("#"+codeType).serialize();
			let frmAlert = $("#"+codeType+"Alert").text();
			let length = frmAlert.length;
			
			if(ckval && length!=0){
				action_popup.alert("중복된 ID가 있습니다.");
				if(codeType == 'zeroLevFrm'){
					$("#hdZeroMenuId").val('');//
					$("#menuId").focus();//
				}else if(codeType == 'oneLevFrm'){
					$("#hdTwoMenuId").val('');
					$("#oneLevMenuId").focus();
				}else{
					$("#hdTwoMenuId").val('');
					$("#twoLevFrmId").focus();
				}
				return false;
			}else if(ckval && length==0){
				if(codeType == 'zeroLevFrm'){
					hdMenuId = $("#hdZeroMenuId").val();
				}else if(codeType == 'oneLevFrm'){
					hdMenuId = $("#hdOneMenuId").val();
				}else{
					hdMenuId = $("#hdTwoMenuId").val();
				}
				let msg = (hdMenuId == ''|| typeof hdMenuId == "undefined" || hdMenuId ==null)? "등록하시겠습니까?" : "수정하시겠습니까?"; //
				params[0] = decodeURIComponent(param);
				params[1] = codeType;
				action_popup.confirm(msg,fn_saveAjax,params);
			}
		}
		
		//등록 ajax
		function fn_saveAjax(params){
			let	url = "/insertMenu.do";
			let codeType = params[1];
			$.ajax({
				url:		url,
				type:		"POST",
				cache:		false,
				data:		params[0],
				success: function(msg){
					action_popup.toast(msg);
					if(codeType == 'zeroLevFrm'){//최상의 메뉴
						$("#firstLevMenuList").empty();
						fn_fresh('zeroLevFrm');
					}
					 if(codeType == 'oneLevFrm'){//하위메뉴
						$("#secondLevMenuList").empty();
						fn_fresh('oneLevFrm');
					}
					 if(codeType == 'twoLevFrm'){//최하위메뉴
						fn_fresh('twoLevFrm');
					}
				},
				error: function(request,status,error){
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					alert("저장실패");
				} 
		}); 
		}
		
		/* 신규버튼 */
		function fn_fresh(codeType){
			let upperMenuId;
			if(codeType == 'zeroLevFrm'){
				rootMenuList();
				firstLevMenuDetail('','','','','','0','Y');
 				$("#menuId").attr("readonly",false);  
			}
			if(codeType == 'oneLevFrm'){		
				upperMenuId = $("#oneLevUpperMenuId").val();
				menuId = $("#oneLevMenuId").val();
				secondLevMenuDetail(upperMenuId,'','','','','','1','Y');
				thirdLevMenuDetail(menuId,'','','','','','2','Y');
				lowMenulist(upperMenuId);
				$("#oneLevMenuId").attr("readonly",false); 
			}
			if(codeType == 'twoLevFrm'){
				oneLevMenuId = $("#oneLevMenuId").val();
				if(oneLevMenuId==""){
					action_popup.alert("하위메뉴를 선택해주세요.");
				}
				lowMenulist(oneLevMenuId);
				thirdLevMenuDetail(oneLevMenuId,'','','','','','2','Y');
				$("#twoLevMenuId").attr("readonly",false); 
			}
		}
		
		/* 삭제버튼 */
		function fn_delete(codeType){
			let menuId ; 
			if(codeType == 'zeroLevFrm'){
				menuId = $("#hdZeroMenuId").val();
			}else if(codeType == 'oneLevFrm'){
				menuId = $("#hdOneMenuId").val();
			}else{
				menuId = $("#hdTwoMenuId").val();
			}
			if(menuId==''){
				action_popup.alert("삭제할 항목을 선택해주세요.")
			}else{
				var msg = "삭제하시겠습니까?";	
				var params = [];
				params[0] = codeType;
				params[1] = menuId;
				
				//삭제 ajax
				action_popup.confirm(msg,fn_deleteAjax,params);
			}
		}
		
		
		//삭제 ajax
		function fn_deleteAjax(params){
			let codeType = params[0];
			let menuId = params[1];
			let oneLevUpperMenuId = $("#oneLevUpperMenuId").val();
			let oneLevMenuId = $("#oneLevMenuId").val();
			 $.ajax({
					url:		'/deleteMenu.do',
					type:		"POST",
					cache:		false,
					data:		{"menuId" : menuId},
					success: function(msg){
						action_popup.toast(msg);
						if(codeType == 'zeroLevFrm'){
							$("#firstLevMenuList").empty();
							rootMenuList();
						}else if(codeType == 'oneLevFrm'){
							$("#secondLevMenuList").empty();
							lowMenulist(oneLevUpperMenuId);
						}else{
							$("#thirdLevMenuList").empty();
							lowMenulist(oneLevMenuId);
						}
							fn_fresh(codeType);
					},
				   error: function(request,status,error){
					   alert("삭제 실패");
				   }
			});  
		}
		
        </script>
     </th:block>
</html>