.inline_tablestyle>table>tbody>tr>td{ text-align: center; width:33%;}
input:read-only{background-color: #F6F6F6;}
.alr{ font-size :small; color : blue; font-weight :bold;}
.scroll_box {height : 320px!important;}
ul.sbuttons>li{float: left; margin-right: 5px;}
ul.sbuttons>li>a{
	float: left;
	background-color: #222;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size:11px; 
	padding: 3.5px 11px;
	line-height: 14px;
}
ul.sbuttons>li:last-child{margin-right: 0;}
ul.sbuttons>li>a>img{
    margin: 0 3px 0 0; float: left;
    height: 13px; padding: 2px;
}
ul.sbuttons>li>a>p{
    float: left; margin-top: 2px;
    line-height: 15px;
}