<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>리스트 페이지</title>
    </th:block>
    <th:block layout:fragment="content">
    <form id="searchVO" name="searchVO" method="post" >
    	 <div class="search_field">
         <div class="search_field_loc">
             <h5><strong>에러 로그 관리</strong></h5>
             <ul class="buttons">
                 <li><a href="#" onclick="fn_search();return false;"><img src="/images/tapCmm/search.svg"><p>조회</p></a></li>
             </ul>
         </div>
         <div class="modify_user" >
        
	            <table>
	            	<colgroup>
                       <col width="10%">
                       <col width="10%">
                   </colgroup>
                   <tbody>
	  				<tr>
	  					<th>검색구분</th>
	  					<td>
	  						<select id="searchType" name="searchType" title="검색구분" >
	  							<option value="0" th:selected="${params.searchType == '0'}">전체</option>
	  							<option value="1" th:selected="${params.searchType == '1'}">아이디</option>
	  							<option value="2" th:selected="${params.searchType == '2'}">IP</option>
	  							<option value="3" th:selected="${params.searchType == '3'}">로그구분</option>
	  						</select>
	  					</td>
	  					<td>
	                     	<input  id="keyword" name="keyword" onkeypress="if( event.keyCode == 13 ){fn_search();}" style="width:200px;" th:value="${params.keyword}"/>
	                     	<input  type="hidden" name="type" id="type" value="errorlog" />
	  					</td>
	  					<th>등록일 검색일자</th>
	  					<td class="calendar">
    						<input type="text" id="srchBgnDtm" name="srchBgnDtm" class="date bgnDtm" size="10" value="" readOnly title="시작일자입력">
    						<img class="ui-datepicker-trigger" src="/images/tapCmm/calendar.svg" alt="선택" title="선택">
    						<span>~</span> 
    						<input type="text" id="srchEndDtm" name="srchEndDtm" class="date endDtm" size="10" value=""  readOnly title="종료일자입력">
    						<img class="ui-datepicker-trigger" src="/images/tapCmm/calendar.svg" alt="선택" title="선택">
    					</td>
	  				</tr>
			        </tbody>
			       </table>
			</div>
            <div class="default_tablestyle">
               	<table>
               		<colgroup>
                  		<col width="10%">
                  		<col width="10%">
                  		<col width="15%">  
                  		<col width="15%">  
                  		<col width="*%">  
               		</colgroup>
	                <thead>
	                    <tr>
	                    	<th>NO</th>
	                        <th>아이디</th>
	                        <th>이름</th>
	                        <th>IP</th>
	                        <th>로그입력시간</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr th:if="${not #lists.isEmpty( response.list )}" th:each="row, status : ${response.list}" 
	                    	th:with="num=${response.pagination.totalRecordCount - (params.page -1) * params.recordSize}"
	                    	th:onclick="fn_detail([[${row.errorLogId}]]);" style="cursor:pointer;">
	                    	<td th:text="${row.rnum}"></td>
	                        <td th:text="${row.errorUserId}"></td>
	                        <td th:text="${row.userNm}"></td>
	                        <td th:text="${row.errorIpAddr}"></td>
	                        <td th:text="${row.errorFrstDttm}"></td>
	                    </tr>
	                    <tr th:unless="${not #lists.isEmpty( response.list )}">
	                        <td colspan="6">검색된 결과가 없습니다.</td>
	                    </tr> 
	                </tbody>
				</table>
			</div>
			</div>
			</form>
          <th:block layout:fragment="paging">	
            <div class="pagination mt0">
                    <ul class="pagination">
                   	    <a class="prev end" th:onclick="movePage(1);"></a>
                       	<a class="prev" th:onclick="|movePage('${response.pagination.startPage}');|"></a>
                    	<th:block th:each="i : ${#numbers.sequence(response.pagination.startPage,response.pagination.endPage)}">
                    		<a th:classappend="${i} == ${searchVO.page} ? 'on'"  href="javascript:void(0)" th:onclick="|movePage('${i}');|" th:text="${i}"></a>
                    	</th:block>
                       	<a class="next" th:onclick="|movePage('${response.pagination.endPage + 1}');|"></a>
                       	<a class="next end" th:onclick="|movePage('${response.pagination.totalPageCount}');|"></a>
                    </ul>
               </div>
            </th:block>
     </th:block>
     <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/
	        $(document).ready(function() {
	        });
	   /*]]>*/ 
        
        /*<![CDATA[*/
            // 페이지 이동
            function movePage(page) {
                const queryParams = {
                    page: (page) ? page : 1,
                    recordSize: 10,
                    pageSize: 10
                }
                location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
            }
          //상세정보
        	function fn_detail(id){
				// 동적 태그 생성      			
      			const newForm = $('<form></form>');
      			newForm.attr("name","detailFrm");
      			newForm.attr("method","post");
      			newForm.attr("action","/log/logDetail.do");
      			// 동적 태그 내 input 추가
      			newForm.append($('<input/>', {type: 'hidden', name: 'logId', value:id }));
      			newForm.append($('<input/>', {type: 'hidden', name: 'searchType', value: $("#searchType").val() }));
      			newForm.append($('<input/>', {type: 'hidden', name: 'keyword', value: $("#keyword").val() }));
      			newForm.append($('<input/>', {type: 'hidden', name: 'srchBgnDtm', value: $("#srchBgnDtm").val() }));
      			newForm.append($('<input/>', {type: 'hidden', name: 'srchEndDtm', value: $("#srchEndDtm").val() }));
      			newForm.append($('<input/>', {type: 'hidden', name: 'type', value: $("#type").val() }));
      			// 동적 태그 추가
      			newForm.appendTo('body');
      			// 동적 태그 보내기
      			newForm.submit();
        	}
        	//검색
        	function fn_search(){
        		// 시작 날짜 - 제거
        		const strDate = $("#srchBgnDtm").val().replace(/\-/g,''); 
        		// 끝 날짜 - 제거
        		const endDate = $("#srchEndDtm").val().replace(/\-/g,''); 
        		
        		if(strDate > endDate){
        			alert("시작날짜가 끝 날짜보다 클 수 없습니다.");
        			$("srchBgnDtm").focus();
        			return false;
        		}
        		
        		$("#searchVO").action = '/log/errorLogList.do';
        		$("#searchVO").submit();
        	}
        /*]]>*/
        </script>
     </th:block>
</html>