<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
	<th:block layout:fragment="title">
		<title>권한 리스트 페이지</title>
	</th:block>
	
	<th:block layout:fragment="content">
		<form id="searchVO" name="searchVO" method="post">
			<div class="search_field">
				<div class="search_field_loc">
					<h5>
						<strong>사용자 권한 관리</strong>
					</h5>
					<ul class="buttons">
						<li><a href="#" onclick="fn_select_search();return false;"><img src="/images/tapCmm/search.svg"><p>조회</p></a></li>
						<li><a th:onclick="fn_update();"><img src="/images/tapCmm/save.svg"><p>수정</p></a></li>
					</ul>
				</div>
			</div>
			<div class="modify_user">
				<table>
					<colgroup>
						<col width="10%">
						<col width="10%">
					</colgroup>
					<tbody>
						<tr>
							<th>조회조건</th>
							<td><select id="searchType" name="searchType" title="검색구분">
									<option value="">선택</option>
									<option value="userId">사용자 ID</option>
									<option value="userName">사용자명</option>
							</select></td>
							<td><input id="keyword" name="keyword"
								onkeypress="if( event.keyCode == 13 ){fn_select_search();}"
								style="width: 200px;" /></td>
						</tr>
					</tbody>
				</table>
			</div>
	
			<div class="default_tablestyle">
				<table>
					<colgroup>
						<col width="20%">
						<col width="20%">
						<col width="20%">
						<col width="20%">
						<col width="20%">
					</colgroup>
					<thead>
						<tr>
							<th><input type="checkbox" id="allChk"	onclick="fn_allCheck();" /></th>
							<th>사용자ID</th>
							<th>사용자명</th>
							<th>권한명</th>
							<th>사용여부</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty( response.list )}" th:each="row, status : ${response.list}">
							<td><input type="checkbox" th:name="chkArr" th:id="chk + ${status.index}" 
							th:data-userId="${row.userId}" onclick="fn_check();"/></td>
							<td th:text="${row.userId}"></td>
							<td th:text="${row.userNm}"></td>
							<td>
								<select name="authorList" title="권한">
									<option>--선택--</option>
									<option th:each="auth, status : ${authList}" th:value="${auth.authId}" th:utext="${auth.authNm}" th:selected="${auth.authId == row.authorCode}"></option>
								</select>
							</td>
							<td th:text="${row.useYn}"></td>
						</tr>
						<tr th:unless="${not #lists.isEmpty( response.list )}">
							<td colspan="5">검색된 결과가 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
		<form id="updateForm" name="updateForm" method="post">
			<input type="hidden" id="userIdArr" name="userIdArr" /> 
			<input type="hidden" id="authorArr" name="authorArr" />
		</form>
		<th:block layout:fragment="paging">
			<div class="pagination mt0">
				<nav aria-label="Page navigation" class="text-center">
					<ul class="pagination">
						<th:block th:if="${response.pagination.existPrevPage}">
							<li><a href="javascript:void(0)" th:onclick="movePage(1);" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
							<li><a href="javascript:void(0)" th:onclick="|movePage('${response.pagination.startPage - 1}');|" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li>
						</th:block>
	
						<th:block th:each="i : ${#numbers.sequence(response.pagination.startPage,response.pagination.endPage)}">
							<li><a href="javascript:void(0)" th:onclick="|movePage('${i}');|" th:text="${i}"></a></li>
						</th:block>
	
						<th:block th:if="${response.pagination.existNextPage}">
							<li th:if="${response.pagination.existNextPage}"><a	href="javascript:void(0)" th:onclick="|movePage('${response.pagination.endPage + 1}');|" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>
							<li th:if="${response.pagination.existNextPage}"><a	href="javascript:void(0)" th:onclick="|movePage('${response.pagination.totalPageCount}');|"	aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
						</th:block>
					</ul>
				</nav>
			</div>
		</th:block>
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/
			// 페이지 이동
			function movePage(page) {
				const queryParams = {
					page : (page) ? page : 1,
					recordSize : 10,
					pageSize : 10
				}
				location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
			}
			
			// 조회
			function fn_select_search() {
				$("#searchVO").attr("action", "/userAuth/list.do");
				$("#searchVO").submit();
			}
	
			// 전체 선택
			function fn_allCheck() {
				
				if ($("#allChk").is(":checked") == true) {
					$("input[name=chkArr]:checkbox").prop("checked", true);
				} else {
					$("input[name=chkArr]:checkbox").prop("checked", false);
				}
			}
			
			//단일 선택
			function fn_check() {
				if ($("input:checkbox[name=chkArr]:checked").length != $("input:checkbox[name=chkArr]").length) {
					$("#allChk").prop("checked", false);
				} else {
					$("#allChk").prop("checked", true);
				}
			}

			// 선택된 사용자 권한 수정
			function fn_update() {
				
				//데이터 체크
				if( !fn_dataChk() ) {
					return false;
				}
				
				// 권한 데이터값 넣기
				if( !fn_authorChk() ) {
					return false;
				}
				
				// 권한수정
				action_popup.confirm("권한을 수정하시겠습니까?", fn_updateAjax);

			}
			
			// 권한 수정 ajax
			function fn_updateAjax() {

				let data = $("#updateForm").serializeObject();
				
  				$.ajax({
  					url : "/userAuth/update.do"
  					,type : "POST"
  					,data : JSON.stringify(data)
  					,dataType : "text"
  					,contentType: "application/json;charset=UTF-8"
  					,async : false
  					,success : function(data) {
  						// 토스트 메시지 시간 나타내기
  						sessionStorage.setItem("msg",data);
  						// 화면 새로고침
  						fn_select_search();
  					},
  					error : function(request, status, error) {
  						action_popup.alert("E");
  					}
  				});
			}
			
			// 데이터 체크
			function fn_dataChk() {
				// 갯수 체크
				if($("input:checkbox[name=chkArr]:checked").length == 0){
	    		    action_popup.alert("하나 이상의 데이터를 선택해주세요.");
	    			return false;
	    		}
				
				let userIdArr = [];
				
				// 데이터 밀어넣기
				$("input:checkbox[name=chkArr]:checked").each(function () {
					userIdArr.push($(this).data("userid"));
				});
				
				// 데이터 값 넣기
				$("#userIdArr").val(userIdArr);
				
				return true;
			}
			
			// 권한 데이터 삽입
			function fn_authorChk() {
				
				let authorArr = [];
				
				$("input:checkbox[name=chkArr]:checked").each(function () {
					const author = $(this).parents('tr').children('td:eq(3)').children('select').val();
					authorArr.push(author);
				});
				
				$("#authorArr").val(authorArr);
				
				return true;
			}

			/*]]>*/
		</script>
	</th:block>

</html>