<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.books.club.meeting.MeetingMapper">
	
	<!-- 모임 목록 -->
	<select id="selectMeetingList" parameterType="project.books.club.cmmn.SrchVO" resultType="project.books.sys.util.CamelMap">
		/*clubMapper.selectMeetingList*/
		select mt.meeting_no
		     , mt.title
		     , mt.club_no 
		     , (select nick_nm from member m where m.member_no = mt.host_no) as host_nm
		     , (select ccd.code_dtl_nm from cmmn_code_dtl ccd where ccd.code_dtl_id = mt.meeting_gbn) as meeting_gbn
		     , date_format(mt.dday, '%Y-%m-%d') as dday
		     , concat(substr(mt.time,1,2),':',substr(mt.time,3,4)) as time
		     , mt.place 
		     , concat((select count(*) from meeting_member mm where mm.meeting_no = mt.meeting_no), '/', mt.attend_cnt) as attend_cnt
		     , date_format(mt.frst_reg_dt, '%Y.%m.%d %H:%i:%S') as frst_reg_dt
		  from meeting mt  
		<include refid="meeingListWhere"></include>
		 order by mt.dday desc, mt.time desc 
	</select>
	
	<!-- 모임 목록 수 -->
	<select id="selectMeetingListCnt" parameterType="project.books.club.cmmn.SrchVO" resultType="Integer">
		/*clubMapper.selectMeetingListCnt*/
		select count(*) 
		  from meeting mt
		<include refid="meeingListWhere"></include>
	</select>
	
	<!-- 모임 목록 Where -->
	<sql id="meeingListWhere">
		where 1=1
		<if test='clubNo != null and clubNo != ""'>
		  and mt.club_no = #{clubNo}
		</if>
		<!-- 모임 구분 -->
		<if test='srchGbn != null and srchGbn != ""'>
		  and mt.meeting_gbn = #{srchGbn}
		</if>
		<!-- 검색어 -->
		<if test='srchText != null and srchText != "" and srchText != null and srchText != ""'>
			<if test='"M".equals(srchGbn)'>
		  and mt.title like concat('%',#{srchText},'%')
			</if>
			<if test='"H".equals(srchGbn)'>
		  and mt.nick_nm like concat('%',#{srchText},'%')
			</if>
			<if test='"P".equals(srchGbn)'>
		  and mt.place like concat("%",#{srchText},'%')
			</if>
		</if>
		<!-- 검색 기간 -->
		<if test='srchStartDt != null and srchStartDt != ""'>
		  and mt.dday between replace(#{srchStartDt},'-','') and replace(#{srchEndDt},'-','')
		</if>
	</sql>
	
	
	<!-- 모임 생성 -->
	<insert id="insertMeeting" useGeneratedKeys="true" keyProperty="meetingNo" parameterType="project.books.club.meeting.MeetingVO">
		/*clubMapper.insertMeeting*/
		insert into meeting(
			  club_no
			, host_no
			, title
			, dday
			, hour
			, minute
			, place
			, cost
			, place_url
			, attend_cnt
			, meeting_gbn
			, frst_reg_no
			, frst_reg_dt
		)values(
			  #{clubNo}
			, #{hostNo}
			, #{title}
			, #{dday}
			, #{hour}
			, #{minute}
			, #{place}
			, #{cost}
			, #{placeUrl}
			, #{attendCnt}
			, #{meetingGbn}
			, #{userNo}
			, now()
		)
	</insert>
	
	<!-- 모임 참석자 -->
	<insert id="insertMeetingMember" parameterType="project.books.club.meeting.MeetingVO">
		/*meetingMapper.insertMeetingMember*/
		insert into meeting_member(
			  meeting_no
			, member_no
			, attend_yn
			, after_party_yn
			, div_amount
			, calcul_yn
			, reg_no
			, reg_dt
		)values(
			  #{meetingNo}
			, #{memberNo}
			, #{attendYn}
			, #{afterPartyYn}
			, #{divAmount}
			, #{calculYn}
			, #{userNo}
			, now()
		)
	</insert>
</mapper>