<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.books.club.member.MemberMapper">
	
	<!-- 모임 목록 -->
	<select id="selectMemberList" parameterType="project.books.club.member.MemberVO" resultType="project.books.sys.util.CamelMap">
		/*MemberMapper.selectMemberList*/
		select cm.member_no 
		     , m.name as member_nm
		     , m.nick_nm 
		     , (select ccd.code_dtl_nm from cmmn_code_dtl ccd where ccd.code_dtl_id = m.sex) as sex
		     , m.brthday 
		     , concat(m.action_area_lv1, ' ', m.action_area_lv1) as area
		     , m.phon_no 
		     , date_format(cm.join_dt, '%Y-%m-%d') as join_dt 
		     , date_format(cm.frst_reg_dt, '%Y-%m-%d %H:%i:%S') as frst_reg_dt
		     , club_author_no
		  from club_member cm 
		       left join member m on cm.member_no = m.member_no 
		<include refid="memberListWhere"></include>
		 order by cm.club_author_no, cm.join_dt desc 
	</select>
	<!-- 모임 목록 수 -->
	<select id="selectMemberListCnt" parameterType="project.books.club.member.MemberVO" resultType="Integer">
		/*MemberMapper.selectMemberListCnt*/
		select count(*) 
		  from club_member cm
		  	   left join member m on cm.member_no = m.member_no
		<include refid="memberListWhere"></include>
	</select>
	<!-- 모임 목록 Where -->
	<sql id="memberListWhere">
		where 1=1
		<!-- 클럽번호 -->
		<if test='clubNo != null and clubNo != ""'>
		  and cm.club_no = #{clubNo}
		</if>
		<!-- 텍스트 검색 -->
		<if test='srchGbn != null and srchGbn != "" and srchText != null and srchText != ""'>
			<if test='"NIC".equals(srchGbn)'>
		  and m.nick_nm like concat('%',#{srchText},'%')
			</if>
			<if test='"NAME".equals(srchGbn)'>
		  and m.name like concat('%',#{srchText},'%')
			</if>
			<if test='"BRTH".equals(srchGbn)'>
		  and m.brthday like concat('%',#{srchText},'%')
			</if>
			<if test='"PHON".equals(srchGbn)'>
		  and m.phon_no like concat('%',#{srchText},'%')
			</if>
		</if>
	</sql>
	
	<!-- 맴버 등록 -->
	<insert id="insertMember" parameterType="project.books.club.member.MemberVO">
		/*MemberMapper.insertMember*/
		insert into club_member(
			  member_no
			, member_pwd
			, author_id
			, nick_nm
			, name
			, sex
			, brthday
			, phon_no
			, email
			, intro
			, account_no
		) values (
			  concat('test', date_format(now(), '%Y%m%d%H%i%s'))
			, concat('test', date_format(now(), '%Y%m%d%H%i%s'))
			, '9'
			, #{nickNm}
			, #{name}
			, #{sex}
			, #{brthday}
			, #{phonNo}
			, #{email}
			, #{intro}
			, #{accountNo}
		)
	</insert>
	
</mapper>