<div>
	<ul class="menu">
      	<li>
        	<a href="#">시스템 문의</a>
	        <ul class="submenu">
				<li><a href="#">오류신고</a></li>
	          	<li><a href="#">개선요구</a></li>
	        </ul>
		</li>
		<li>
        	<a href="#">고객센터 C/S Center</a>
	        <ul class="submenu">
				<li><a href="#">Call. 02-1004-1004</a></li>
	          	<li><a href="#">Email. agwing03@kakao.com</a></li>
	          	<li><a href="#">Talk. agwing03</a></li>
	        </ul>
		</li>
	</ul>
	@Copyright 2023. Between Books And People. All Rights Reserved.
</div>
<style>
.menu {
	display: flex;
	flex-direction: row;
	width: 500px;
	margin: 0;
	padding: 0;
	background-color: darkslategray;
	list-style-type: none;
}
.submenu {
	padding: 15px;
	cursor: pointer;
	color: azure;
}
.submenu a{
	text-align: left;
	text-decoration: none; /*밑줄*/
	color: white;
}
</style>