<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>주문 목록</title>
    </th:block>
    <th:block layout:fragment="content">
		<form id="params" name="params" method="post" >
    		<div class="search_field">
				<div class="search_field_loc">
					<h5><strong>주문 목록</strong></h5>
					<ul class="buttons">
					<li><a href="#" onclick="fn_search();return false;"><img src="/images/tapCmm/search.svg"><p>조회</p></a></li>
					</ul>
				</div>
	         	<div class="modify_user" >
		            <table>
		            	<colgroup>
	                       <col width="10%">
	                       <col width="10%">
	                   </colgroup>
	                   <tbody>
		  				<tr>
		  					<th>검색구분</th>
		  					<td>
		  						<select id="searchType" name="searchType" title="검색구분">
		  							<option value="">선택</option>
		  							<option value="orderNo">주문번호</option>
		  						</select>
		  					</td>
		  					<td>
		                     	<input id="keyword" name="keyword" th:value="${params.keyword}" onkeypress="if( event.keyCode == 13 ){fn_select_search();}" style="width:200px;"/>
		                     	
		  					</td>
		  					<th>주문일 검색일자</th>
		  					<td class="calendar">
	    						<input type="text" id="srchBgnDtm" name="srchBgnDtm" class="date bgnDtm" size="10" th:value="${params.srchBgnDtm}" readOnly title="시작일자입력">
	    						<span>~</span> 
	    						<input type="text" id="srchEndDtm" name="srchEndDtm" class="date endDtm" size="10" th:value="${params.srchEndDtm}"  readOnly title="종료일자입력">
	    					</td>
		  				</tr>
				        </tbody>
				       </table>
				</div>
	            <div class="default_tablestyle">
	               	<table>
	               		<colgroup>
	                  		<col width="10%">
	                  		<col width="10%">
	                  		<col width="10%">
	                  		<col width="10%">
	                  		<col width="10%">
	                  		<col width="10%">
	                  		<col width="10%">
	                  		<col width="10%">
	                  		<col width="10%">
	                  		<col width="10%">
	               		</colgroup>
		                <thead>
		                    <tr>
		                    	<th>NO</th>
		                        <th>주문번호</th>
		                        <th>제품명</th>
		                        <th>금액</th>
		                        <th>주문자명</th>
		                        <th>핸드폰번호</th>
		                        <th>전화번호</th>
		                        <th>이메일</th>
		                        <th>배송지</th>
		                        <th>주문일자</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr th:if="${not #lists.isEmpty( response.list )}" th:each="row, status : ${response.list}" 
		                    	th:with="num=${response.pagination.totalRecordCount - (params.page -1) * params.recordSize}">
		                    	<td th:text="${num - status.index}"></td>
		                        <td th:text="${row.orderNo}"></td>
		                        <td th:text="${row.prductNm}"></td>
		                        <td th:text="${row.price}"></td>
		                        <td th:text="${row.userNm}"></td>
		                        <td th:text="${row.phone}"></td>
		                        <td th:text="${row.tel}"></td>
		                        <td th:text="${row.email}"></td>
		                        <td th:text="${row.address}"></td>
		                        <td th:text="${row.orderDate}"></td>
		                    </tr>
		                    <tr th:unless="${not #lists.isEmpty( response.list )}">
		                        <td colspan="5">검색된 결과가 없습니다.</td>
		                    </tr>
		                </tbody>
					</table>
				</div>
	            <th:block layout:fragment="paging">	
		            <div class="pagination mt0">
		                 <!-- <nav aria-label="Page navigation" class="text-center"> -->
		                    <ul class="pagination">
		                   	    <a class="prev end" th:onclick="movePage(1);"></a>
		                       	<a class="prev" th:onclick="|movePage('${response.pagination.startPage}');|"></a>
			                    	<th:block th:each="i : ${#numbers.sequence(response.pagination.startPage,response.pagination.endPage)}">
			                    		<a th:classappend="${i} == ${params.page} ? 'on'"  href="javascript:void(0)" th:onclick="|movePage('${i}');|" th:text="${i}"></a>
			                    	</th:block>
		                       	<a class="next" th:onclick="|movePage('${response.pagination.endPage + 1}');|"></a>
		                       	<a class="next end" th:onclick="|movePage('${response.pagination.totalPageCount}');|"></a>
		                    </ul>
		               <!--  </nav>  -->
		            </div>
	            </th:block>
        	</div>
		</form>
    </th:block>
    
	<th:block layout:fragment="script">
    	<script th:inline="javascript">
        /*<![CDATA[*/
	        $(document).ready(function() {
	        	$(".date").datepicker();
	        });
	   /*]]>*/ 
        
        /*<![CDATA[*/
            function fn_search(){
            	var text = $("#keyword").val();
            	var gbn = $("#searchType").val();
            	if(text != '' && gbn==''){
            		alert("검색 구분을 선택해주세요.");
            		return false;
            	}
            	//$('#pageIndex').val('1'); 
            	$('#params').attr('action',"/order/orderList.do");
                $('#params').submit();          
            }
        /*]]>*/
		</script>
	</th:block>
</html>