<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>사용자 등록</title>
    </th:block>
    <th:block layout:fragment="content">
    <form id="saveFrm" name="saveFrm" method="post" >
    	 <div class="search_field">
         <div class="search_field_loc">
             <h5><strong>사용자 등록</strong></h5>
             <ul class="buttons">
                 <li><a th:onclick="fn_saveUser();"><img src="/images/tapCmm/save.svg"><p>저장</p></a></li>
                 <li><a th:onclick="fn_Reset();"><img src="/images/tapCmm/save.svg"><p>취소</p></a></li>
             </ul>
         </div>
	         <div class="modify_user" style="margin-top:50px;">
	        	<table>
	        		<colgroup>
                       <col width="10%">
                       <col width="40%">
                       <col width="*">
                   </colgroup>
                   <tr>
                   		<th>아이디</th>
                   		<td><input type="text" id="userId" name="userId" onchange="fn_idChk();"/></td>
                   		<td><div id="idChk"></div></td>
                   </tr>
                   <tr>
                   		<th>이름</th>
                   		<td><input type="text" id="userNm" name="userNm"/></td>
                   </tr>
                   <tr>
                   		<th>비밀번호</th>
                   		<td><input type="password" id="userPw" name="userPw"/></td>
                   </tr>
                   <tr>
                   		<th>비밀번호 확인</th>
                   		<td><input type="password" id="userPwChk" name="userPwChk"/></td>
                   </tr>
                   <tr>
                   		<th>사용여부</th>
                   		<td>
                   			<div>
	                   			<select id="useYn" name="useYn" style="width:150px;">
	                   				<option value="">--선택--</option>
	                   				<option value="Y">사용</option>
	                   				<option value="N">미사용</option>
	                   			</select>
                   			</div>
                   		</td>
                   </tr>
                   <tr>
                   		<th>부서명</th>
                   		<td>
                   			<div id="dept"></div>
                   		</td>
                   </tr>
                   <tr>
                   		<th>권한</th>
                   		<td>
                   			<div id="auth"></div>
                   		</td>
                   </tr>
	        	</table>
			</div>
		</div>
		</form>
		
     </th:block>
     <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/
	        $(document).ready(function() {
	        	// 부서코드
	        	fn_deptList();
	        	// 권한코드
	        	fn_authList();
	        });
	   /*]]>*/ 
        
        /*<![CDATA[*/
        	// 부서 코드 조회
        	function fn_deptList(){
        		let str = "";
        		$("#dept").html("");
	       		 $.ajax({
	   	    		  url : "/user/userDpetList.do"
	   	    		  ,type : "post"
	       			  ,data: ""
	   	        	  ,contentType:"application/json;charset=UTF-8"
	   	   			  ,async : false
	   	    		  ,success:function(data){
	   	    			  console.log(data);
	   	    			  if(data != null){
	   	    				  str += "<select id='deptCd' name='deptCd' style='width:150px;'>";
	   	    				  str += "<option value=''>--선택--</option>";
		   	    			  for(let i=0; i < data.length; i++){
		   	    				  str += "<option value=" + data[i].deptCd + ">"; 
		   	    				  str += data[i].deptNm + "</option>"; 
		   	    			  }
	   	    				str += "</select>";
	   	    				$("#dept").html(str);
	   	    			  }
	   	    		  },error: function(xhr, status, error){
	   	    				action_popup.alert("E");
	   	    		  }
	   	    	  });
        	}
        	// 권한 코드 조회
        	function fn_authList(){
        		let str = "";
        		$("#auth").html("");
	       		 $.ajax({
	   	    		  url : "/user/userAuthList.do"
	   	    		  ,type : "post"
	       			  ,data: ""
	   	        	  ,contentType:"application/json;charset=UTF-8"
	   	   			  ,async : false
	   	    		  ,success:function(data){
	   	    			  if(data != null){
	   	    				  str += "<select id='authorCode' name='authorCode' style='width:150px;'>";
	   	    				  str += "<option value=''>--선택--</option>";
		   	    			  for(let i=0; i < data.length; i++){
		   	    				  str += "<option value=" + data[i].authId + ">"; 
		   	    				  str += data[i].authNm + "</option>"; 
		   	    			  }
	   	    				str += "</select>";
	   	    				$("#auth").html(str);
	   	    			  }
	   	    		  },error: function(xhr, status, error){
	   	    				action_popup.alert("E");
	   	    		  }
	   	    	  });
        	}
        	// 아이디 중복 조회
        	function fn_idChk(){
        		
        		if( $("#userId").val() == "" ){
        			action_popup.alert("아이디는 비어 있을 수 없습니다.");
        			return false;
        		}
        		
        		$("#idChk").html("");
        		let str = "";
        		 $.ajax({
	   	    		  url : "/user/userIdSelect.do"
	   	    		  ,type : "post"
	       			  ,data:  $("#userId").val()
	       			  ,dataType: "json"
	   	        	  ,contentType:"application/json;charset=UTF-8"
	   	   			  ,async : false
	   	    		  ,success:function(data){
	   	    			  if(data == 'Y'){
	   	    				str += "<span style='color:blue;'> 사용 가능한 아이디입니다. </span>";  
	   	    				$("#idChk").html(str);
	   	    			  }else{
	   	    				str += "<span style='color:red;'> 이미 존재하는 아이디입니다. </span>";  
	   	    				$("#idChk").html(str);
	   	    				$("#userId").val("");
	   	    				$("#userId").focus();
	   	    			  }
	   	    		  },error: function(xhr, status, error){
	   	    			action_popup.alert("E");
	   	    		  }
	   	    	  });
        		
        	}
          //유저 정보 저장
          function fn_saveUser(){
        	  
        	  if(! fn_validator()){
        		  return false;
        	  }
        	  
        	  action_popup.confirm("CC",fn_saveUserAjax);
          }
          // 유저 정보 저장 AJAX
          function fn_saveUserAjax(){
        	  let data = $("#saveFrm").serializeObject();
   	    	 $.ajax({
  	    		  url : "/user/userSave.do"
  	    		  ,type : "post"
      			  ,data: JSON.stringify(data)
  	        	  ,dataType: "json"
  	        	  ,contentType:"application/json;charset=UTF-8"
      			  ,async : false
  	    		  ,success:function(data){
  	    			  if(data == 'Y'){
  	    				// 토스트 메시지 시간 나타내기
  		    			  sessionStorage.setItem("msg","C");
  		    			  // 화면 새로고침
  		    			  fn_pageReset();
  	    			  }else{
  	    				 action_popup.alert("E");
  	    			  }
  	    		  },error: function(xhr, status, error){
  	    			  action_popup.alert("E");
  	    		  }
  	    	  });
          }
          // 유저 정보 저장 전 빈 값 체크
          function fn_validator(){
        	  
        	  const form = document.getElementById('saveFrm');
              const fields = [form.userId, form.userNm , form.userPw , form.userPwChk , form.useYn ,form.deptCd , form.authorCode];
              const fieldNames = ['아이디', '이름' , '비밀번호' , '비밀번호 확인' , '사용여부' , '부서명' , '권한'];

              // fields순서대로 id,name 여부 조회
              for (let i = 0, len = fields.length; i < len; i++) {
                  if ( !isValid(fields[i], fieldNames[i]) ) {
                      return false;
                  }
              }
              
              const pw = $("#userPw").val();
              const pwChk = $("#userPwChk").val();
              
              if(pw != pwChk){
            	  $("#userPwChk").val("");
            	  $("#userPwChk").focus();
            	  action_popup.alert("비밀번호가 일치하지 않습니다.");
            	  return false;
              }
				
              return true;
              // 패스워드 정규식 숫자,영어 소문자,대문자 특수문자 1개 이상씩 포함
              /*
              var pwReg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,15}$/; 
              if(! pwReg.test(password)){
            	  return false;
              }
              */
          }
          // 페이지 리셋
          function fn_pageReset(){
        	// 동적 태그 생성      			
   			const newForm = $('<form></form>');
   			newForm.attr("name","singView");
   			newForm.attr("method","post");
   			newForm.attr("action","/user/userSignView.do");
   			// 동적 태그 추가
   			newForm.appendTo('body');
   			// 동적 태그 보내기
   			newForm.submit();
          }
          // 정보 리셋
          function fn_Reset(){
        	  action_popup.confirm("입력한 정보를 취소하시겠습니까?",fn_pageReset);
          }
        /*]]>*/
        </script>
     </th:block>
</html>