<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>리스트 페이지</title>
    </th:block>
    <th:block layout:fragment="content">
    <form id="searchVO" name="searchVO" method="post" >
    	 <div class="search_field">
         <div class="search_field_loc">
             <h5><strong>사용자 비밀번호 변경</strong></h5>
             <ul class="buttons">
                 <li><a href="#" onclick="fn_select_search();return false;"><img src="/images/tapCmm/search.svg"><p>조회</p></a></li>
                 <li><a th:onclick="fn_pwChange();"><img src="/images/tapCmm/save.svg"><p>수정</p></a></li>
             </ul>
         </div>
         <div class="modify_user" >
        
	            <table>
	            	<colgroup>
                       <col width="10%">
                       <col width="10%">
                   </colgroup>
                   <tbody>
	  				<tr>
	  					<th>검색구분</th>
	  					<td>
	  						<select id="searchType" name="searchType" title="검색구분" >
	  							<option value="" th:selected="${params.searchType == ''}">선택</option>
	  							<option value="deptNm" th:selected="${params.searchType == 'deptNm'}">부서명</option>
	  							<option value="userNm" th:selected="${params.searchType == 'userNm'}">사용자명</option>
	  						</select>
	  					</td>
	  					<td>
	                     	<input  id="keyword" name="keyword" onkeypress="if( event.keyCode == 13 ){fn_select_search();}" style="width:200px;" th:value="${params.keyword}"/>
	                     	
	  					</td>
	  					<th>등록일 검색일자</th>
	  					<td class="calendar">
    						<input type="text" id="srchBgnDtm" name="srchBgnDtm" class="date bgnDtm" size="10" value="" readOnly title="시작일자입력">
    						<img class="ui-datepicker-trigger" src="/images/tapCmm/calendar.svg" alt="선택" title="선택">
    						<span>~</span> 
    						<input type="text" id="srchEndDtm" name="srchEndDtm" class="date endDtm" size="10" value=""  readOnly title="종료일자입력">
    						<img class="ui-datepicker-trigger" src="/images/tapCmm/calendar.svg" alt="선택" title="선택">
    					</td>
	  				</tr>
			        </tbody>
			       </table>
			</div>
            <div class="default_tablestyle">
               	<table>
               		<colgroup>
                  		<col width="5%">
                  		<col width="5%">
                  		<col width="10%">
                  		<col width="10%">
                  		<col width="10%">
                  		<col width="20%">  
                  		<col width="20%">  
                  		<col width="20%">  
               		</colgroup>
	                <thead>
	                    <tr>
	                    	<th>NO</th>
	                        <th><input type="checkbox" id="allChk" onclick="fn_allChk();"/></th>
	                        <th>부서명</th>
	                        <th>아이디</th>
	                        <th>사용자명</th>
	                        <th>현재 비밀번호</th>
	                        <th>변경 비밀번호</th>
	                        <th>변경 비밀번호 확인</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr th:if="${not #lists.isEmpty( response.list )}" th:each="row, status : ${response.list}" 
	                    	th:with="num=${response.pagination.totalRecordCount - (params.page -1) * params.recordSize}">
	                    	<td th:text="${num - status.index}"></td>
	                    	<td>
                    			<input type="checkbox" th:id="'chk'+${status.index}" th:name="chkArr" onclick="fn_check();"
                    			th:data-userPk="${row.userPk}"
                    			th:data-userPw="${row.userPassword}"
                    			 />
	                    	</td>
	                        <td th:text="${row.deptNm}"></td>
	                        <td th:text="${row.userId}"></td>
	                        <td th:text="${row.userNm}"></td>
	                        <td><input type="password" th:id="'pw'+${status.index}" th:name="'pw'+${status.index}"></td>
	                        <td><input type="password" th:id="'userPw'+${status.index}" th:name="'userPw'+${status.index}"></td>
	                        <td><input type="password" th:id="'userPwChk'+${status.index}" th:name="'userPwChk'+${status.index}"></td>
	                    </tr>
	                    <tr th:unless="${not #lists.isEmpty( response.list )}">
	                        <td colspan="7">검색된 결과가 없습니다.</td>
	                    </tr> 
	                </tbody>
				</table>
			</div>
			</div>
			</form>
			<form id="registFrm" name="registFrm">
				<input type="hidden" id="userPkArr" name="userPkArr"/>
				<input type="hidden" id="userPwArr" name="userPwArr"/>
			</form>
          <th:block layout:fragment="paging">	
            <div class="pagination mt0">
                    <ul class="pagination">
                   	    <a class="prev end" th:onclick="movePage(1);"></a>
                       	<a class="prev" th:onclick="|movePage('${response.pagination.startPage}');|"></a>
                    	<th:block th:each="i : ${#numbers.sequence(response.pagination.startPage,response.pagination.endPage)}">
                    		<a th:classappend="${i} == ${searchVO.page} ? 'on'"  href="javascript:void(0)" th:onclick="|movePage('${i}');|" th:text="${i}"></a>
                    	</th:block>
                       	<a class="next" th:onclick="|movePage('${response.pagination.endPage + 1}');|"></a>
                       	<a class="next end" th:onclick="|movePage('${response.pagination.totalPageCount}');|"></a>
                    </ul>
               </div>
            </th:block>
     </th:block>
     <th:block layout:fragment="script">
     	<script th:src="@{/scripts/pwSha.js}"></script>
        <script th:inline="javascript">
        /*<![CDATA[*/
	        $(document).ready(function() {
	        });
	   /*]]>*/ 
        
        /*<![CDATA[*/
            // 페이지 이동
            function movePage(page) {
                const queryParams = {
                    page: (page) ? page : 1,
                    recordSize: 10,
                    pageSize: 10
                }
                location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
            }
        
          //전체 선택
            function fn_allChk(){
         	   
         	   if($("#allChk").is(":checked") == true){
         		   $( "input[name=chkArr]:checkbox" ).prop("checked",true);
         	   }else{
         		   $( "input[name=chkArr]:checkbox" ).prop("checked",false);
         	   }
         	   
            }
 	      //단일 선택
 	  	  function fn_check(){
 	  		if($("input:checkbox[name=chkArr]:checked").length != $("input:checkbox[name=chkArr]").length){
 	  			$("#allChk").prop("checked",false);
 	  		}else{
 	  			$("#allChk").prop("checked",true);
 	  		}
 	      }   
 	      // 비밀번호 변경
 	      function fn_pwChange(){
 	    	  // 데이터 체크
 	    	  if(! fn_dataChk()){
 	    		  return false;
 	    	  }
 	    	  // 비밀번호 맞는지 체크 
 	    	  if(! fn_pwChk()){
 	    		  return false;
 	    	  }
 	    	 // 비밀번호 변경
 	    	 action_popup.confirm("비밀번호를 변경하시겠습니까?",fn_pwChangeAjax);
 	      }
  		  // 비밀번호 변경 ajax
 	      function fn_pwChangeAjax(){
  			  
 	    	 let data = $("#registFrm").serializeObject();
 	    	 $.ajax({
	    		  url : "/user/userPwUpdate.do"
	    		  ,type : "post"
    			  ,data: JSON.stringify(data)
	        	  ,dataType: "json"
	        	  ,contentType:"application/json;charset=UTF-8"
    			  ,async : false
	    		  ,success:function(data){
	    			// 토스트 메시지 시간 나타내기
	    			  sessionStorage.setItem("msg","U");
	    			  // 화면 새로고침
	    			  fn_select_search();
	    		  },error: function(xhr, status, error){
	    			  action_popup.alert("E");
	    		  }
	    	  });
 	      }
 	      // 데이터 체크
 	      function  fn_dataChk(){
 	    	  // 갯수 체크
	    	  if($("input:checkbox[name=chkArr]:checked").length == 0){
	    		    action_popup.alert("하나 이상의 데이터를 선택해주세요.");
	    			return false;
	    		}
		    	//데이터 쌓기
	    		let userPkArr = [];
		    	// 데이터 밀어넣기
	    		 $("input:checkbox[name=chkArr]:checked").each(function () {
	    			 userPkArr.push($(this).data("userpk"));
	    	    });
		    	// 데이터 값 넣기
		    	$("#userPkArr").val(userPkArr);
		    	
		    	return true;
 	      }
 	      // 비밀번호 체크 
 	      function fn_pwChk(){
 	    	let flag = true;
 	    	// 데이터 쌓기 위한 더미
 	    	let userPwArr = [];
 	    	// 패스워드 정규식
    		//var pwReg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,15}$/; 
 	    	  
 	    	 $("input:checkbox[name=chkArr]:checked").each(function () {
 	    		// 체크된 것에 암호화된 비밀번호 
 	    		const pw = $(this).data("userpw");
 	    		// 체크된 것에 현재 비밀번호 확인
 	    		const nowPw = $(this).parents('tr').children('td:eq(4)').children('input').val();
 	    		// 현재 비밀번호와 변경 비밀번호 비교
 	    		const password = $(this).parents('tr').children('td:eq(5)').children('input').val();
 	    		// 변경 비밀번호와 변경 비밀번호 확인 비교
 	    		const passwordChk = $(this).parents('tr').children('td:last-child').children('input').val();
 	    		// 현재 비밀번호가 비어있을 경우
 	    		if(nowPw == "" || nowPw == null){
 	    			$(this).parents('tr').children('td:eq(4)').children('input').focus();
 	    			action_popup.alert("현재 비밀번호가 비어있습니다.");
 	    			flag = false;
 	    			return false;
 	    		}
 	    		// 패스워드 암호화
 	    		const nowPwEncryption = sha256(nowPw);
 	    		// DB 패스워드 와 현재 암호가 일치 하지 않으면
 	    		if(pw != nowPwEncryption){
 	    			$(this).parents('tr').children('td:eq(4)').children('input').val("");
 	    			$(this).parents('tr').children('td:eq(4)').children('input').focus();
 	    			action_popup.alert("패스워드가 일치하지 않습니다.");
 	    			flag = false;
 	    			return false;
 	    		}
 	    		
 	    		 //변경 비밀번호 정규식 체크
 	    		 /*
		  		 if(! pwReg.test(password)){
		  			 action_popup.alert("비밀번호는 하나 이상의 소문자,대문자 특수문자 숫자가 포함되어야 합니다.\n비밀번호는 8글자 이상 15글자 이하여야 합니다.");
		  			 $(this).parents('tr').children('td:eq(5)').children('input').focus();
		  			 return false;
		  		 }
 	    		 */
 	    		//변경 비밀번호 비어있는지 체크
	    		 if(password == "" || password == null){
	    			 $(this).parents('tr').children('td:eq(5)').children('input').focus();
	    			 action_popup.alert("변경 비밀번호가 비어있습니다.");
	    			 flag = false;
	    			 return false;
	    		 }
	 	  		 // 현재비밀번호와 변경 할 비밀번호가 같은지 체크
	 	  		 if(nowPw == password){
	 	  			 $(this).parents('tr').children('td:eq(5)').children('input').val("");
	 	  			 $(this).parents('tr').children('td:eq(5)').children('input').focus();
	 	  			 action_popup.alert("현재비밀번호와 변경 할 비밀번호가 똑같습니다.");
	 	  			flag = false;
	 	  			 return false;
	 	  		 }
	 	  		 // 변경 비밀번호와 변경 비밀번호 확인이 같은지 체크
	 	  		 if(password != passwordChk){
	 	  			$(this).parents('tr').children('td:last-child').children('input').val("");
	 	  			$(this).parents('tr').children('td:last-child').children('input').focus();
	 	  			action_popup.alert("변경비밀번호와 변경 비밀번호 확인이 같지 않습니다.");
	 	  			flag = false;
	 	  			 return false;
	 	  		 }
	 	  		userPwArr.push(password);
 	    	 });
 	    	 
 	    	 $("#userPwArr").val(userPwArr);
 	    	 return flag;
 	      }
 	      // 조회
 	      function fn_select_search(){
 	    	  $("#searchVO").attr("action","/user/userPwList.do");
 	    	  $("#searchVO").submit();
 	      }
        /*]]>*/
        </script>
     </th:block>
</html>