<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>리스트 페이지</title>
    </th:block>
    <th:block layout:fragment="content">
    <form id="searchVO" name="searchVO" method="post" >
    	 <div class="search_field">
         <div class="search_field_loc">
             <h5><strong>사용자등록 관리</strong></h5>
             <ul class="buttons">
                 <li><a href="#" onclick="fn_select_search();return false;"><img src="/images/tapCmm/search.svg"><p>조회</p></a></li>
                 <li><a th:href="@{/user/userSignView.do}"><img src="/images/tapCmm/save.svg"><p>등록</p></a></li>
                 <li><a th:onclick="fn_userUpdate();"><img src="/images/tapCmm/save.svg"><p>변경</p></a></li>
                 <li><a th:onclick="fn_deleteUser();"><img src="/images/tapCmm/save.svg"><p>삭제</p></a></li>
                 <li><a th:onclick="fn_unLock();"><img src="/images/tapCmm/save.svg"><p>잠금해제</p></a></li>
             </ul>
         </div>
         <div class="modify_user" >
        
	            <table>
	            	<colgroup>
                       <col width="10%">
                       <col width="10%">
                   </colgroup>
                   <tbody>
	  				<tr>
	  					<th>검색구분</th>
	  					<td>
	  						<select id="searchType" name="searchType" title="검색구분" >
	  							<option value="" th:selected="${params.searchType == ''}">선택</option>
	  							<option value="deptNm" th:selected="${params.searchType == 'deptNm'}">부서명</option>
	  							<option value="userNm" th:selected="${params.searchType == 'userNm'}">사용자명</option>
	  						</select>
	  					</td>
	  					<td>
	                     	<input  id="keyword" name="keyword" onkeypress="if( event.keyCode == 13 ){fn_select_search();}" style="width:200px;" th:value="${params.keyword}"/>
	                     	
	  					</td>
	  					<th>등록일 검색일자</th>
	  					<td class="calendar">
    						<input type="text" id="srchBgnDtm" name="srchBgnDtm" class="date bgnDtm" size="10" value="" readOnly title="시작일자입력">
    						<img class="ui-datepicker-trigger" src="/images/tapCmm/calendar.svg" alt="선택" title="선택">
    						<span>~</span> 
    						<input type="text" id="srchEndDtm" name="srchEndDtm" class="date endDtm" size="10" value=""  readOnly title="종료일자입력">
    						<img class="ui-datepicker-trigger" src="/images/tapCmm/calendar.svg" alt="선택" title="선택">
    					</td>
	  				</tr>
			        </tbody>
			       </table>
			</div>
            <div class="default_tablestyle">
               	<table>
               		<colgroup>
                  		<col width="5%">
                  		<col width="5%">
                  		<col width="10%">
                  		<col width="10%">
                  		<col width="10%">
                  		<col width="15%">  
                  		<col width="10%">  
                  		<col width="10%">  
                  		<col width="10%">  
                  		<col width="*%">  
               		</colgroup>
	                <thead>
	                    <tr>
	                    	<th>NO</th>
	                        <th><input type="checkbox" id="allChk" onclick="fn_allChk();"/></th>
	                        <th>부서명</th>
	                        <th>아이디</th>
	                        <th>사용자명</th>
	                        <th>사용여부</th>
	                        <th>권한</th>
	                        <th>로그인 실패횟수</th>
	                        <th>잠김여부</th>
	                        <th>잠김해제시간</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr th:if="${not #lists.isEmpty( response.list )}" th:each="row, status : ${response.list}" 
	                    	th:with="num=${response.pagination.totalRecordCount - (params.page -1) * params.recordSize}">
	                    	<td th:text="${num - status.index}"></td>
	                    	<td>
                    			<input type="checkbox" th:id="'chk'+${status.index}" th:name="chkArr" onclick="fn_check();"
                    			th:data-userPk="${row.userPk}"
                    			 />
	                    	</td>
	                        <td th:text="${row.deptNm}"></td>
	                        <td th:text="${row.userId}"></td>
	                        <td th:text="${row.userNm}"></td>
	                        <td>
		                        <select id="useYn" name="useYn" >
		                        	<option value="Y" th:selected="${row.useYn == 'Y'}">사용</option>
		                        	<option value="N" th:selected="${row.useYn == 'N'}">미사용</option>
		                        </select>
	                        </td>
	                        <td th:text="${row.authNm}"></td>
	                        <td th:text="${row.failCount} + '회'"></td>
	                        <td th:text="${row.isLock}"></td>
	                        <td th:text="${row.unLockTime} + '분'" ></td>
	                    </tr>
	                    <tr th:unless="${not #lists.isEmpty( response.list )}">
	                        <td colspan="10">검색된 결과가 없습니다.</td>
	                    </tr> 
	                </tbody>
				</table>
			</div>
			</div>
			</form>
			<form id="registFrm" name="registFrm">
				<input type="hidden" id="userPkArr" name="userPkArr"/>
				<input type="hidden" id="useYnArr" name="useYnArr"/>
			</form>
          <th:block layout:fragment="paging">	
            <div class="pagination mt0">
                    <ul class="pagination">
                   	    <a class="prev end" th:onclick="movePage(1);"></a>
                       	<a class="prev" th:onclick="|movePage('${response.pagination.startPage}');|"></a>
                    	<th:block th:each="i : ${#numbers.sequence(response.pagination.startPage,response.pagination.endPage)}">
                    		<a th:classappend="${i} == ${searchVO.page} ? 'on'"  href="javascript:void(0)" th:onclick="|movePage('${i}');|" th:text="${i}"></a>
                    	</th:block>
                       	<a class="next" th:onclick="|movePage('${response.pagination.endPage + 1}');|"></a>
                       	<a class="next end" th:onclick="|movePage('${response.pagination.totalPageCount}');|"></a>
                    </ul>
               </div>
            </th:block>
     </th:block>
     <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/
	        $(document).ready(function() {
	        });
	   /*]]>*/ 
        
        /*<![CDATA[*/
            // 페이지 이동
            function movePage(page) {
                const queryParams = {
                    page: (page) ? page : 1,
                    recordSize: 10,
                    pageSize: 10
                }
                location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
            }
        
          //전체 선택
            function fn_allChk(){
         	   
         	   if($("#allChk").is(":checked") == true){
         		   $( "input[name=chkArr]:checkbox" ).prop("checked",true);
         	   }else{
         		   $( "input[name=chkArr]:checkbox" ).prop("checked",false);
         	   }
         	   
            }
 	      //단일 선택
 	  	  function fn_check(){
 	  		if($("input:checkbox[name=chkArr]:checked").length != $("input:checkbox[name=chkArr]").length){
 	  			$("#allChk").prop("checked",false);
 	  		}else{
 	  			$("#allChk").prop("checked",true);
 	  		}
 	      }   
 	      // 잠금 해제  
 	      function fn_unLock(){
 	    	  // 데이터 체크
 	    	  if(! fn_dataChk()){
 	    		  return false;
 	    	  }
 	    	  // 잠금 해제
 	    	 action_popup.confirm("잠금을 해제하시겠습니까?",fn_unLoackAjax);
 	      }
  		  // 잠금 해제 ajax
 	      function fn_unLoackAjax(){
  			 
 	    	 let data = $("#registFrm").serializeObject(); 
 	    	 $.ajax({
	    		  url : "/user/userUnLockUpdate.do"
	    		  ,type : "post"
    			  ,data: JSON.stringify(data)
	        	  ,dataType: "json"
	        	  ,contentType:"application/json;charset=UTF-8"
	   			  ,async : false
	    		  ,success:function(data){
	    			  // 토스트 메시지 시간 나타내기
	    			  sessionStorage.setItem("msg",data);
	    			  // 화면 새로고침
	    			  fn_select_search();
	    		  },error: function(xhr, status, error){
	    			  action_popup.alert("E");
	    		  }
	    	  });
 	      }
 	      // 삭제  
 	      function fn_deleteUser(){
 	    	  // 데이터 체크 
 	    	  if(! fn_dataChk()){
 	    		  return false;
 	    	  }
 	    	  // 삭제
 	    	 action_popup.confirm("CD",fn_deleteAjax);
 	      }
 	      // 삭제 ajax
 	      function fn_deleteAjax(){
 	    	  
 	    	 let data = $("#registFrm").serializeObject();
 	    	 $.ajax({
	    		  url : "/user/userDelete.do"
	    		  ,type : "post"
    			  ,data: JSON.stringify(data)
	        	  ,dataType: "json"
	        	  ,contentType:"application/json;charset=UTF-8"
    			  ,async : false
	    		  ,success:function(data){
	    			// 토스트 메시지 시간 나타내기
	    			  sessionStorage.setItem("msg","D");
	    			  // 화면 새로고침
	    			  fn_select_search();
	    		  },error: function(xhr, status, error){
	    			  action_popup.alert("E");
	    		  }
	    	  });
 	      }
 	      // 데이터 체크
 	      function  fn_dataChk(){
 	    	  // 갯수 체크
	    	  if($("input:checkbox[name=chkArr]:checked").length == 0){
	    		    action_popup.alert("하나 이상의 데이터를 선택해주세요.");
	    			return false;
	    		}
		    	//데이터 쌓기
	    		let userPkArr = [];
		    	// 데이터 밀어넣기
	    		 $("input:checkbox[name=chkArr]:checked").each(function () {
	    			 userPkArr.push($(this).data("userpk"));
	    	    });
		    	// 데이터 값 넣기
		    	$("#userPkArr").val(userPkArr);
		    	
		    	return true;
 	      }
 	      // 조회
 	      function fn_select_search(){
 	    	  $("#searchVO").attr("action","/user/userList.do");
 	    	  $("#searchVO").submit();
 	      }
 	      // 사용자 정보 변경
 	      function fn_userUpdate(){
 	    	  // 데이터 체크 
	    	  if(! fn_dataChk()){
	    		  return false;
	    	  }
 	    	  // 데이터 집어넣기
 	    	  if(! fn_userUseYN()){
 	    		  return false;
 	    	  }
 	    	  
	    	  action_popup.confirm("CU",fn_userUpdateAjax);
 	      }
 	      // 데이터 삽입
 	      function fn_userUseYN(){
 	    	  // 데이터 쌓을 더미
 	    	  let useYnArr = [];
 	    	 $("input:checkbox[name=chkArr]:checked").each(function () {
 	    		const useYn = $(this).parents('tr').children('td:eq(5)').children('select').val();
 	    	 	useYnArr.push(useYn);
 	    	 })
 	    	 $("#useYnArr").val(useYnArr);
 	    	 
 	    	 return true;
 	      }
 	      // 변경 ajax
 	      function fn_userUpdateAjax(){
	    	  
 	    	 let data = $("#registFrm").serializeObject();
 	    	 $.ajax({
	    		  url : "/user/userUseUpdate.do"
	    		  ,type : "post"
    			  ,data: JSON.stringify(data)
	        	  ,dataType: "json"
	        	  ,contentType:"application/json;charset=UTF-8"
    			  ,async : false
	    		  ,success:function(data){
	    			// 토스트 메시지 시간 나타내기
	    			  sessionStorage.setItem("msg","U");
	    			  // 화면 새로고침
	    			  fn_select_search();
	    		  },error: function(xhr, status, error){
	    			  action_popup.alert("E");
	    		  }
	    	  });
 	      }
        /*]]>*/
        </script>
     </th:block>
</html>