<?xml version="1.0" encoding="UTF-8"?>
<!-- 로그 레벨 -->
<!--
	1) ERROR : 오류 메시지 표시 
    2) WARN  : 경고성 메시지 표시
    3) INFO  : 정보성 메시지 표시
    4) DEBUG : 디버깅하기 위한 메시지 표시
    5) TRACE :  Debug보다 훨씬 상세한 메시지 표시
-->
<configuration>
	
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
    </encoder>
  </appender>
  
  <logger name="jdbc" level="OFF"/>
  
  <logger name="jdbc.sqlonly" level="OFF"/>
  <logger name="jdbc.sqltiming" level="DEBUG"/>
  <logger name="jdbc.audit" level="OFF"/>
  <logger name="jdbc.resultset" level="OFF"/>
  <logger name="jdbc.resultsettable" level="DEBUG"/>
  <logger name="jdbc.connection" level="OFF"/>
  
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>