<script src="/dist/js/tabulator.js"></script> 
<script src="/dist/js/jquery_wrapper.js"></script>  
<script>
	jQuery(document).ready(function(){
		//테이블 그리드 생성
		const tableLayout = new Tabulator("#dataList", {
			layout:"fitColumns",
            pagination : "local",
    		paginationSize : 20,
    		paginationSizeSelector : [10, 20, 50, 100],
            placeholder : "검색된 데티터가 없습니다.",
			columns : [
			    {title:"No", field:"bookNo", hozAlign:"center", width: 100, minWidth: 50}, 
			    {title:"도서", field:"bookTitle", hozAlign:"left"},
			    {title:"저자", field:"bookWriter", hozAlign:"left"},
			    {title:"서평횟수", field:"bookApp", hozAlign:"right", width: 120, minWidth: 40}, 
			    {title:"평점", field:"bookAvg", hozAlign:"right", width: 120, minWidth: 40}, 
			]
        })
        
        //목록 데이터 조회
        jQuery("#srchBtn").click(function () {
			srchList(tableLayout, srchParam())
		})
		
		//초기 목록 조회
		srchList(tableLayout, srchParam())
	})

	// 목록 데이터 조회
	function srchList(tableLayout, params){
		fetchApi('/book/getBookList.do', 'POST', params, 'dataList')
			.then((data) => {
				if(data != null){
					tableLayout.setData(data)
				}else{
					alert("데이터 없음")
				}
			}).catch((error) => console.log(error))
	}
</script> 
	
<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h4 class="text-lg font-medium mr-auto">책사도서관</h4>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
        <button class="btn btn-primary shadow-md mr-2">Add New Books</button>
        <div class="dropdown ml-auto sm:ml-0">
            <button class="dropdown-toggle btn px-2 box" aria-expanded="false" data-tw-toggle="dropdown">
                <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-lucide="plus"></i> </span>
            </button>
            <div class="dropdown-menu w-40">
                <ul class="dropdown-content">
                    <li>
                        <a href="" class="dropdown-item"> <i data-lucide="file-plus" class="w-4 h-4 mr-2"></i> New Category </a>
                    </li>
                    <li>
                        <a href="" class="dropdown-item"> <i data-lucide="users" class="w-4 h-4 mr-2"></i> New Group </a>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</div>	
<!-- BEGIN: HTML Table Data -->
<div class="intro-y box p-5 mt-5">
    <div class="flex flex-col sm:flex-row sm:items-end xl:items-start">
        <form id="tabulator-html-filter-form" class="xl:flex sm:mr-auto" >
            <div class="sm:flex items-center sm:mr-4">
                <select id="srchGbn" class="form-select w-full sm:w-32 2xl:w-full mt-2 sm:mt-0 sm:w-auto" id="srchGbn">
                    <option value="B">도서명</option>
                    <option value="W">작가</option>
                </select>
            </div>
            <div class="sm:flex items-center sm:mr-4 mt-2 xl:mt-0">
                <input id="srchText" type="text" class="form-control sm:w-40 2xl:w-full mt-2 sm:mt-0" placeholder="Search...">
            </div>
            <div class="relative w-56 mx-auto"> 
            	 <input type="text" data-daterange="true" class="datepicker form-control w-56 block mx-auto" id="srchDt"> 
            </div>
            <div class="ml-2 mt-2 xl:mt-0">
                <button type="button" class="btn btn-secondary w-full sm:w-16 mt-2 sm:mt-0 sm:ml-1" onclick="setSrchDate('-1')">1개월</button>
                <button type="button" class="btn btn-secondary w-full sm:w-16 mt-2 sm:mt-0 sm:ml-1" onclick="setSrchDate('-3')">3개월</button>
            </div>  
            <div class="ml-5 mt-2 xl:mt-0">
                <button type="button" class="btn btn-primary w-full sm:w-16" id="srchBtn" >Go</button>
                <button type="button" class="btn btn-secondary w-full sm:w-16 mt-2 sm:mt-0 sm:ml-1" onclick="srchReset()" >Reset</button>
            </div>
        </form>
        <div class="flex mt-5 sm:mt-0">
            <button id="tabulator-print" class="btn btn-outline-secondary w-1/2 sm:w-auto mr-2"> <i data-lucide="printer" class="w-4 h-4 mr-2"></i> Print </button>
            <div class="dropdown w-1/2 sm:w-auto">
                <button class="dropdown-toggle btn btn-outline-secondary w-full sm:w-auto" aria-expanded="false" data-tw-toggle="dropdown"> <i data-lucide="file-text" class="w-4 h-4 mr-2"></i> Export <i data-lucide="chevron-down" class="w-4 h-4 ml-auto sm:ml-2"></i> </button>
                <div class="dropdown-menu w-40">
                    <ul class="dropdown-content">
                        <li>
                            <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item"> <i data-lucide="file-text" class="w-4 h-4 mr-2"></i> Export CSV </a>
                        </li>
                        <li>
                            <a id="tabulator-export-json" href="javascript:;" class="dropdown-item"> <i data-lucide="file-text" class="w-4 h-4 mr-2"></i> Export JSON </a>
                        </li>
                        <li>
                            <a id="tabulator-export-xlsx" href="javascript:;" class="dropdown-item"> <i data-lucide="file-text" class="w-4 h-4 mr-2"></i> Export XLSX </a>
                        </li>
                        <li>
                            <a id="tabulator-export-html" href="javascript:;" class="dropdown-item"> <i data-lucide="file-text" class="w-4 h-4 mr-2"></i> Export HTML </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="overflow-x-auto scrollbar-hidden">
        <div id="dataList" class="mt-5 table-report table-report--tabulator"></div>
    </div>

</div>
<!-- END: HTML Table Data -->

<!-- <script src="dist/js/app.js"></script> -->
<!-- <link rel="stylesheet" href="dist/css/app.css" /> -->