<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>HTML5 Document type</title>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/cmmn.js"></script>
    <link rel="stylesheet" href="/css/cmmn.css"/>
    
    <script>
		$(document).ready(function(){
			//meetingList();
		})
		
		function meetingList(){
			const param = {clubNo:'1'}
			fetchApi('/club/getMeetingList.do', 'POST', param)
				.then((data) => console.log(data))
				.catch((error) => console.log(error))
		}
		
		
	</script>
</head>
<body>
   <header id="header"></header>
   <nav id="nav"></nav>
   <aside id="aside"></aside>
   <section>
	   <article></article>
   </section>
   <footer id="footer"></footer>
</body>
</html>


