<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>부서 리스트</title>
    </th:block>
    <th:block layout:fragment="content">
	    <form id="searchVO" name="searchVO" method="post" >
	    	 <div class="search_field">
		         <div class="search_field_loc">
					<h5><strong>부서리스트 관리</strong></h5>
					<ul class="buttons">
		                <li><a href="#" onclick="fn_select_search();"><img src="/images/tapCmm/search.svg"><p>조회</p></a></li>
		             	<li><a th:href="@{/dept/deptWrite.do}"><img src="/images/tapCmm/save.svg"><p>등록</p></a></li>
					</ul>
				</div>
				<div class="modify_user" >
					<table>
						<colgroup>
							<col width="10%">
							<col width="10%">
						</colgroup>
						<tbody>
							<tr>
								<th>검색구분</th>
								<td><select id="searchType" name="searchType" title="검색구분">
										<option value="">선택</option>
										<option value="deptCd">부서코드</option>
										<option value="deptNm">부서명</option>
								</select></td>
								<td><input id="keyword" name="keyword" th:value="${searchVO.keyword}" onkeypress="if( event.keyCode == 13 ){fn_select_search();}" style="width: 200px;"/></td>
	<!-- 		  					<th>등록일 검색일자</th> -->
	<!-- 		  					<td class="calendar"> -->
	<!-- 	    						<input type="text" id="srchBgnDtm" name="srchBgnDtm" class="date bgnDtm" size="10" th:value="${searchVO.srchBgnDtm}" readOnly title="시작일자입력"> -->
	<!-- 	    						<span>~</span>  -->
	<!-- 	    						<input type="text" id="srchEndDtm" name="srchEndDtm" class="date endDtm" size="10" th:value="${searchVO.srchEndDtm}"  readOnly title="종료일자입력"> -->
	<!-- 	    					</td> -->
							</tr>
						</tbody>
					</table>
				</div>
				<div class="default_tablestyle">
					<table>
						<colgroup>
							<col width="5%">
							<col width="40%">
							<col width="15%">
							<col width="15%">
							<col width="10%">
							<col width="*%">
						</colgroup>
						<thead>
							<tr>
								<th>NO</th>
								<th>부서명</th>
								<th>부서코드</th>
								<th>상위코드</th>
								<th>등록자</th>
								<th>등록일자</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty( response.list )}" th:each="row, status : ${response.list}" th:with="num=${response.pagination.totalRecordCount - (params.page -1) * params.recordSize}" th:onclick="|location.href='@{/dept/deptView.do(deptCd=${row.deptCd})}'|">
								<td th:text="${status.index +1 }"></td>
								<td th:text="${row.deptNm}"></td>
								<td th:text="${row.deptCd}"></td>
								<td th:text="${row.upperDeptCd}"></td>
								<td th:text="${row.regId}"></td>
								<td th:text="${row.regDate}"></td>
							</tr>
							<tr th:unless="${not #lists.isEmpty( response.list )}">
								<td colspan="6">검색된 결과가 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<th:block layout:fragment="paging">
				<div class="pagination mt0">
					<ul class="pagination">
						<a class="prev end" th:onclick="movePage(1);"></a>
						<a class="prev" th:onclick="|movePage('${response.pagination.startPage}');|"></a>
						<th:block th:each="i : ${#numbers.sequence(response.pagination.startPage,response.pagination.endPage)}">
							<a th:classappend="${i} == ${searchVO.page} ? 'on'" href="javascript:void(0)" th:onclick="|movePage('${i}');|" th:text="${i}"></a>
						</th:block>
						<a class="next" th:onclick="|movePage('${response.pagination.endPage + 1}');|"></a>
						<a class="next end" th:onclick="|movePage('${response.pagination.totalPageCount}');|"></a>
					</ul>
				</div>
			</th:block>
		</form>
	</th:block>
    <th:block layout:fragment="script">
       <script th:inline="javascript">
		/*<![CDATA[*/
        $(document).ready(function() {
//         	$(".date").datepicker();
        });
		/*]]>*/
		/*<![CDATA[*/
    	// 페이지 이동
        function movePage(page) {
               const queryParams = {
                   page: (page) ? page : 1,
                   recordSize: 10,
                   pageSize: 10
               }
               
               location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
		}
        
        function fn_select_search(){
           	var text = $("#keyword").val();
           	var gbn = $("#searchType").val();
           	if(text != '' && gbn==''){
           		alert("검색 구분을 선택해주세요.");
           		return false;
           	}
           	//$('#pageIndex').val('1'); 
           	$('#searchVO').attr('action',"/dept/deptList.do");
            $('#searchVO').submit();          
		}
     
		/*]]>*/ 
       </script>
    </th:block>
</html>