<script>
	jQuery(function(){
		//모임대상 목록
		srchMeetingReviewList()
		
		//평점
		for(var i = 7 ; i < 22; i++){
			var html = "<option value="+i+">"+i+"</option>"
			jQuery("#meeting-form-timeHour").append(html) 		    
		}
	})
 
	// 모임 목록 데이터 조회
	function srchMeetingReviewList(){
		fetchApi('/meeting/getMeetingPopupList.do', 'POST', {clubNo:'1'}, 'dataList')
			.then((data) => {
				if(data != null){
					let html = '<option value="">선택</option>'
					for (const idx in data){
						html += '<option value="'+data[idx].meetingNo+'&'+data[idx].attendCnt+'">'+data[idx].title+'</option>'
					}
					jQuery("#meeting-review-form-meeting").append(html);
				}
			}).catch((error) => console.log(error))
	}
	
	//모임 선택 이벤트
	function setMeetingInfo(val){
		let info = val.split('&')
		const meetingNo = info[0] 
		const attendCnt = info[1]
		 
		if(meetingNo){
			let html 
			// 모임 번호 SET
			jQuery("#meeting-review-form-meetingNo").val(meetingNo)
			
			// 참석자 FORM 생성
			if(attendCnt > 0){
				for(var i = 1; i <= attendCnt; i++){
					html = `
	                	<div class="border-t border-slate-200/60 dark:border-darkmode-400 p-3">
	                		<div class="flex flex-col sm:flex-row items-center">
		                		<!-- 참석자 이름 -->
		                		<div class="flex items-center">
						            <div class="w-12 h-12 flex-none image-fit">
						                <img alt="Midone - HTML Admin Template" class="rounded-full" src="../../img/IU_01.jpg">
						            </div>
						            <div class="ml-3 mr-auto h-6">
						                <a href="" class="font-medium" id="hostNm">박지열
						                	<img style="position: absolute; top: 27px; left: 105px;" class="tooltip w-6 h-6 sm:w-7 sm:h-7" title="운영진" src="../../img/icon-crown-32.png">
						                </a>
						               	<span class="">•</span>
						               	<span class="" id="nickNm">Good Boy</span>
						               	<span class="">•</span>
						               	<span class="" id="nickNm">2024.02.20</span>
						            </div>
						            <input type="hidden" id="meeting-review-form-memberNo`+i+`">
						        </div>
							</div>    
							<div class="flex flex-col sm:flex-row items-center mt-2">
		                		<!-- 도서명 -->
		                		<div class="dropdown" style="width: 100%;">
		                			<input type="text" class="form-control dropdown-toggle border-danger" aria-expanded="false" data-tw-toggle="dropdown" placeholder="도서(저자)" id="meeting-review-form-bookTitle`+i+`" onkeyup="getSrchBook(this.value, '`+i+`');">
		                			<div class="dropdown-menu w-full">
							        	<ul class="dropdown-content overflow-y-auto h-32" id="meeting-review-form-bookSrchBox`+i+`"></ul>
							    	</div>
							    	<!-- 도서번호 -->
		                			<input type="hidden" id="meeting-review-form-bookNo`+i+`">
		                		</div>
	                		</div>
	                		<div class="flex flex-col sm:flex-row items-center mt-2">
	                			<!-- 한출평 -->
		                		<input type="text" class="form-control border-danger mr-2" placeholder="한줄평" id="meeting-review-form-eval`+i+`">
		                		<!-- 평점 -->
		                		<input type="text" class="form-control border-danger" placeholder="평점 10.0" id="meeting-review-form-score`+i+`" style="width: 150px;">
	                		</div>
	                	</div>`
	                jQuery("#attendMember").append(html);
	            }
			}
		}
	}
	
	
	//모임후기 저장
	function saveMeeting(){
		//validation
		if(!jQuery('#meeting-form-title').val()){
			alert('모임 제목을 입력해주세요.')
			jQuery('#meeting-form-title').focus()
			return false
		}
		if(!jQuery('#meeting-form-hostNo').val()){
			alert('주최자를 검색하여 선택해주세요.')
			jQuery('#meeting-form-hostNm').focus()
			return false
		}
		if(!jQuery('#meeting-form-dday').val()){
			alert('모임 일자를 입력해주세요.')
			jQuery('#meeting-form-dday').focus()
			return false
		}
		if(!jQuery('#meeting-form-place').val()){
			alert('모임 장소를 입력해주세요.')
			jQuery('#meeting-form-place').focus()
			return false
		}
		if(!jQuery('#meeting-form-cost').val()){
			alert('참석 비용을 입력해주세요.')
			jQuery('#meeting-form-cost').focus()
			return false
		}
			
		//data set
		var saveData = {
			// 모임 생성
			'title':jQuery('#meeting-form-title').val(),
			'meetingGbn':jQuery('#meeting-form-meetingGbn').val(),
			'hostNo':jQuery('#meeting-form-hostNo').val(),
			'dday':jQuery('#meeting-form-dday').val().replaceAll('.',''),
			'hour':jQuery('#meeting-form-timeHour').val(),
			'minute':jQuery('#meeting-form-timeMinute').val(),
			'place':jQuery('#meeting-form-place').val(),	
			'cost':jQuery('#meeting-form-cost').val(),
			'attendCnt':jQuery('#meeting-form-attendCnt').val(),
		}
		console.log(saveData);
		if(saveData){
			fetchApi('/meeting/saveMeeting.do', 'POST', saveData, 'save')
			meetingPopupClose()
		}
	}
	//모임후기 생성 팝업 닫기
	function meetingReviewPopupShow(){
		let modal = jQuery('#meeting-review-form-modal')
		modal.show()
	}
	
	//모임후기 생성 팝업 닫기
	function meetingReviewPopupClose(){
		let modal = jQuery('#meeting-review-form-modal')
		modal.hide()
	}
	
	/** 실시간 검색 기능 **/
	// 도서 실시간 검색
	function getSrchBook(text, num){
		if(text.length > 0){
			var params = {"srchText":text}
			fetchApi('/book/selectBookSrch.do', 'POST', params, 'dataList')
			.then((data) => {
				if(data != null){
					jQuery('#meeting-review-form-bookSrchBox'+num).empty()
					for(var i = 0; i < data.length; i++){
						let html = '<li><a href="#" onclick="setSrchBookData(\''+num+'\',\''+data[i].bookNo+'\',\''+data[i].bookTitle+'\',\''+data[i].bookWriter+'\')">'+data[i].bookInfo+'</a></li>'
						jQuery('#meeting-review-form-bookSrchBox'+num).append(html)
					}
				}
			}).catch((error) => console.log(error))
		}
	}
	
	// 맴버 실시간 검색
	function getSrchMember(text, num){
		if(text.length > 0){
			var params = {"srchText":text}
			fetchApi('/member/selectMemberSrch.do', 'POST', params, 'dataList')
			.then((data) => {
				if(data != null){
					jQuery('#meeting-review-form-memberSrchBox'+num).empty()
					for(var i = 0; i < data.length; i++){
						let html = '<li><a href="#" onclick="setSrchMemberData(\''+num+'\',\''+data[i].memberNo+'\',\''+data[i].name+'\')">'+data[i].name+'</a></li>'
						jQuery('#meeting-review-form-memberSrchBox'+num).append(html)
					}
				}
			}).catch((error) => console.log(error))
		}
	}
	
	// 실시간 리턴 데이터셋 
	function setSrchBookData(num, bookNo, bookTitle, bookWriter){
		jQuery('#meeting-review-form-bookNo'+num).val(bookNo)
		jQuery('#meeting-review-form-bookTitle'+num).val(bookTitle)
		jQuery('#meeting-review-form-bookWriter'+num).val(bookWriter)
		jQuery('#meeting-review-form-bookSrchBox'+num).empty()
	}
	function setSrchMemberData(num, memberNo, memberNm){
		jQuery('#meeting-review-form-memberNo'+num).val(memberNo)
		jQuery('#meeting-review-form-memberNm'+num).val(memberNm)
		jQuery('#meeting-review-form-memberSrchBox'+num).empty()
	}
</script>

<!-- BEGIN: Modal Content -->
<div id="meeting-review-form-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- BEGIN: Modal Header -->
            <div class="modal-header">
                <h2 class="font-medium text-base mr-auto">모임 후기 생성</h2>
                
                <!-- 신규도서 팝업 -->
            	<div class="float-right">
                	<button class="btn btn-sm btn-primary w-30 mr-2"> 
                		<i data-lucide="book" class="w-5 h-5 mr-2"></i>New 도서
                	</button>
                	<button class="btn btn-sm btn-dark w-30 mr-2"> 
                    	<i data-lucide="user-plus" class="w-5 h-5 mr-2"></i>New 맴버 
                    </button> 
                </div> 
            </div>
            
            <!-- BEGIN: Modal Body -->
            <div class="modal-body gap-4 gap-y-3">
            	<!-- 모임선택 -->
                <div class="col-span-12 sm:col-span-6 p-3"> 
                	<label for="meeting-review-form-meeting" class="form-label">모임선택</label></br>
                	<select class="form-select" aria-label="Default select example" id="meeting-review-form-meeting" onchange="setMeetingInfo(this.value)"></select>
                </div>
                
                <form id="meeting-review-form">
                	<!-- 모임 번호-->
	            	<input type="hidden" id="meeting-review-form-meetingNo">
	            	
	                <!-- 참석자 추가 영역--> 
	                <div class="col-span-12 sm:col-span-6" id="attendMember"></div>
	                
	                <!-- 메모-->
	                <div class="col-span-12 sm:col-span-6" id="attendMember"></div>
	            </form>
			</div>
            
            <!-- BEGIN: Button -->
            <div class="modal-footer">
            	<button type="button" class="btn btn-primary w-20" onclick="saveMeeting()">저장</button>
            	<button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1" onclick="meetingPopupClose()">취소</button> 
            </div>
        </div>
    </div>
</div> 
<!-- END: Modal Content -->