@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
}
html,body,form{
	height:100%;
}
/* login.html 스타일 S */

#middle{
	min-height:100%;
	background:url("/images/tapCmm/login/login_background2.png") #565656 no-repeat center center fixed;
    background-size:cover;
}
*html #middle{
	height:100%;
}
#middle #content{
	line-height:1.3em;
	padding:0;
	background-position:center top;
	background-repeat:no-repeat;
	height:610px;
}
#box { 
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-211px;
	margin-top:-250px;
	width:423px; 
	height:auto;	
	background:url("/images/tapCmm/login/loginbox_bg.png") no-repeat #fff;
	border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
	z-index:999;
}
#box_login{
	margin:250px auto 0 auto;
	width:355px;
	padding-bottom:25px;
}


.login_ul {
	list-style:none;
    margin:0;
	padding:0;
	font-family:arial,sans-serit,malgun gothic;
	font-size:13px; color:#3b3b3b;
}
.login_ul li {
	line-height:300%;
}

.login_title {
	margin-right:15px;
	vertical-align:middle;
}
 
.input {
	width:270px; height:30px; border:1px solid #d6d6d6;
	font-family:arial,sans-serit,malgun gothic;
	font-size:13px; color:#000;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.input_select {
	width:270px; height:30px; border:1px solid #d6d6d6;
	font-family:arial,sans-serit,malgun gothic;
	font-size:13px; color:#000;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.copyright {
	position:absolute;
	bottom:0;
	font-size:12px;
	text-align:center;
	color:#fff;
	width:100%;
	font-family:arial;
	margin-bottom:10px;
	z-index:1;
}

.formBtn {
	margin:15px 25%;
	width:190px; 
	height:40px; 
	border:0px; 
	cursor:pointer;
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	color:#fff;
	font-size:15px;
	font-family:arial;
	background-color:#004a97; 
	font-weight:bold;
}

.txtBox{
	font-family:arial, malgun gothic;
	border-top:1px solid #ebebeb;
	margin-top:10px;
	padding-top:10px;
}

.txt11 {font-size:11px;}
.txtgray {color:#929292;}


/* pw.html 스타일 S */

#PWmiddle{
	min-height:100%;
	background:url("/images/tapCmm/login/edit_bg.jpg") no-repeat center center fixed;
    background-size:cover;
}
*html #PWmiddle{
	height:100%;
}
#PWmiddle #PWcontent{
	line-height:1.3em;
	padding:0;
	background-position:center top;
	background-repeat:no-repeat;
	height:520px;
}
#PWbox { 
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-211px;
	margin-top:-255px;
	width:423px; 	
	background:url("/images/tapCmm/login/pwbox_bg.png") no-repeat #fff;
	border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
	z-index:999;
}
#box_pw{
	margin:110px auto 0 auto;
	width:355px;
	padding-bottom:30px;
}
.btnEdit {
	margin:20px 0 0 85px; 
	width:190px; 
	height:41px; 
	background:url('/images/tapCmm/login/btn_edit.png'); 
	border:0px; 
	cursor:pointer;
}
.PWinput {
	width:257px; height:26px; border:1px solid #d6d6d6;
	font-family:arial,sans-serit,malgun gothic;
	font-size:13px; color:#000;
	padding-left:3px;
}




/* main_top.html 스타일 S */
.mainbg_top{
	font-family:tahoma,gulim;
	font-size:12px;
}

	#topMenu {
		height:50px;
		min-width:1040px;
		background-color:#004a97;
	}

	.logo {
		float:left;
		height:50px;
		padding:17px 30px 0 30px;
		border-right:1px solid #2161a4;
		box-sizing:border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	/* nav -S-*/
	.nav {
		float:left;
		width:320px;
	}
	.navmenu a{
		display:block;
		float:left;
		width:50px;
		height:50px;
		text-align:center;
		font-family:tahoma,dotum;
		color:#fff;
		text-decoration:none;
		border-right:1px solid #2161a4;
		font-size:11px;
	}
	.navmenu a:hover{
		background-color:#002d5d; 
		background-position:right;
		text-decoration:none;
	}
	.navmenu a:active, .navmenu a.selected {
		background-color:#002d5d; 
		background-position:right;
		text-decoration:none;
	}
	.navmargin{
		margin-top:7px;
	}
	/* nav -E-*/


	/* option -S-*/

	.topMenu1 {
		float:right;
	}
	.section {
		float:left;
		border-right:1px solid #2161a4;
		height:20px;
		padding:15px 15px;
		text-align:center;
	}
	
	.top_input{
		height:18px;
		font-family:tahoma, dotum;
		font-size:11px;
		color:#7d7d7d;
		border:none;
		width:100px;
		vertical-align:middle;
		padding-left:3px;
	}
	.top_search {
		vertical-align:middle;
		margin-right:12px;
	}
	.top_select{
		height:20px;
		font-family:tahoma, dotum;
		font-size:11px;
		color:#7d7d7d;
		border:none;
		width:100px;
		vertical-align:middle;
		padding-left:3px;
	}

	.country {
		margin:2px 0 0 0;
	}
	/* option -E-*/

img {border:0px;}
