@charset "utf-8";
.table_box{
    float: left;
    width: 100%; height: 780px;
}
.table_box1{
    float: left;
    width: 70%; height: 35%;
    position: relative;
}
.table_box2{
    float: right;
    width: 28%; height: 35%;
    position: relative;
}
.table_box3{
    float: left;
    width: 100%; height: 65%;
    position: relative;
    box-sizing: border-box;
}
/* 테이블 제목 */
.table_title{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 49px;
    z-index: 1;
}
.title_txt{
    position: absolute;
    bottom: 0; left: 0;
    font-size: 15px;
    width: 100%;
    line-height: 49px;
}
.title_txt>.bar{
    width: 5px; height: 15px;
    background-color:#114A97;
    float: left; margin: 17px 5px 17px 0;
}
.title_txt>p{
    float: left; font-weight: bold;
}
.table_title>ul.buttons{
    float: right; margin-top: 8px;
}

/* 테이블 제목 */
.table_title2{
    width: 100%; height: 49px;
    z-index: 1;
}
.title_txt2{
    font-size: 15px;
    width: 100%;
    line-height: 49px;
    clear: both; 
}
.title_txt2>.bar{
    width: 5px; height: 15px;
    background-color:#114A97;
    float: left; margin: 17px 5px 17px 0;
}
.title_txt2>p{
    float: left; font-weight: bold;
}
.table_title2>ul.buttons{
    float: right; margin-top: 8px;
}



/* 사용등록일 */
.useDate{
    position: absolute;
    bottom: 3px; right: 0;
    font-size: 13px;
    line-height: 22px;
    padding: 10px 15px;
    background-color: #f7f9fc;
    border-radius: 50px;
}
.modify_user2{
    position: absolute;
    top: 49px; left: 0;
    background-color: #F7F9FC; float: left;
    margin-bottom: 10px;
    width: 100%;
    z-index: 1;
}
/* 상단 검색 */
.modify_user2>table{width: 100%}
.modify_user2>table>tbody{width: 100%;}
.modify_user2>table>tbody>tr{
    width: 100%; height: 25px;
    box-sizing: border-box;
    line-height: 25px;
    font-size: 12px;
    border-bottom: 1px solid #E4E4E4;
}
.modify_user2>table>tbody>tr:last-child{border: 0;}
.modify_user2>table>tbody>tr>th{
    height: 100%;
    box-sizing: border-box;
    padding: 5px 10px; 
    font-weight: bold; color: #444;
    text-transform: uppercase;
}
.modify_user2>table>tbody>tr>td{
    height: 100%;
    padding: 5px; box-sizing: border-box;
}
.modify_user2>table>tbody>tr>td>select{
    border: 1px solid #c3c3c3;
    height: 28px; width: 100%;
}
.modify_user2>table>tbody>tr>td>input{
    border: 1px solid #c3c3c3;
    height: 28px; width: 100%;
    padding: 0 2px; box-sizing: border-box;
}

/* 달력 입력폼 */
.modify_user2>table>tbody>tr>td.calendar>input{
    width: 75%; height: 28px; float: left;
}
.modify_user2>table>tbody>tr>td.calendar>a{
    float: left;
    width: 25%; height: 28px; 
    box-sizing: border-box;vertical-align:middle;
}
.modify_user2>table>tbody>tr>td.calendar>a>img{
    box-sizing: border-box; width: 100%; 
    vertical-align: middle;
    height: 100%;
    padding: 3px 0 3px 2px;
}
.modify_user2>table>tbody>tr>td>.buttons{
    float: right;
}
/* 표 */
.default_tablestyle2{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    padding-top: 103px;
    border-bottom: 2px solid #00489B;
    box-sizing: border-box; overflow: hidden;
}
.tablestyle2-1{
    padding-top: 49px;
}
.default_tablestyle2>table{
    width: 100%; height: 100%;
    position: relative;
}
.default_tablestyle2>table>tbody{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow: auto;
    display: block;
    overflow-y: scroll; 
    padding-top: 35px;
    box-sizing:border-box;
}
.default_tablestyle2>table>thead>tr{
    border-bottom: 1px solid #00489B;
    font-weight: bold;
}
.default_tablestyle2>table>thead>tr,
.default_tablestyle2>table>tbody>tr{
    width: 100%; height: 30px;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 12px;
    display: inline-block;
}
.default_tablestyle2>table>tbody>tr:hover{
    background-color: #F7F7F7; 
}
.default_tablestyle2>table>tbody>tr{
    border-bottom: 1px solid #E4E4E4;
}
.default_tablestyle2>table>tbody>tr>td{
    box-sizing: border-box;
    text-align: center;
    text-overflow:ellipsis; overflow:hidden; white-space:nowrap;
}
.default_tablestyle2>table>tbody>tr>td>span{
    font-weight: bolder;
}
.default_tablestyle2>table>tbody>tr.bgE5ECF5>td>span{
    color: #525252
}
/* 표 너비 */
.default_tablestyle2 thead{
    position: absolute;
    top: 0; left: 0;
    float: left; width: 100%;
    background-color: #fff;
    z-index: 3;
    box-sizing: border-box;
    border-top: 2px solid #00489B;
}
.default_tablestyle2 thead tr{padding-right: 16px;}
.default_tablestyle2 th{float: left;}
.default_tablestyle2 th:nth-child(1){width: 10%;}
.default_tablestyle2 th:nth-child(2){width: 21%;}
.default_tablestyle2 th:nth-child(3){width: 15%;}
.default_tablestyle2 th:nth-child(4){width: 12%;}
.default_tablestyle2 th:nth-child(5){width: 15%;}
.default_tablestyle2 th:nth-child(6){width: 15%;}
.default_tablestyle2 th:nth-child(7){width: 12%;}

.default_tablestyle2 td{float: left;}
.default_tablestyle2 td:nth-child(1){width: 10%;}
.default_tablestyle2 td:nth-child(2){width: 21%;}
.default_tablestyle2 td:nth-child(3){width: 15%;}
.default_tablestyle2 td:nth-child(4){width: 12%;}
.default_tablestyle2 td:nth-child(5){width: 15%;}
.default_tablestyle2 td:nth-child(6){width: 15%;}
.default_tablestyle2 td:nth-child(7){width: 12%;}

.tablestyle2-1 th:nth-child(1){width: 15%;}
.tablestyle2-1 th:nth-child(2){width: 50%;}
.tablestyle2-1 th:nth-child(3){width: 35%;}

.tablestyle2-1 td:nth-child(1){width: 15%;}
.tablestyle2-1 td:nth-child(2){width: 50%;}
.tablestyle2-1 td:nth-child(3){width: 35%;}

.tablestyle2-2 th:nth-child(1){width: 7%;}
.tablestyle2-2 th:nth-child(2){width: 7%;}
.tablestyle2-2 th:nth-child(3){width: 10%;}
.tablestyle2-2 th:nth-child(4){width: 16%;}
.tablestyle2-2 th:nth-child(5){width: 8%;}
.tablestyle2-2 th:nth-child(6){width: 11%;}
.tablestyle2-2 th:nth-child(7){width: 7%;}
.tablestyle2-2 th:nth-child(8){width: 7%;}
.tablestyle2-2 th:nth-child(9){width: 17%;}
.tablestyle2-2 th:nth-child(10){width: 5%;}
.tablestyle2-2 th:nth-child(11){width: 5%;}

.tablestyle2-2 td:nth-child(1){width: 7%;}
.tablestyle2-2 td:nth-child(2){width: 7%;}
.tablestyle2-2 td:nth-child(3){width: 10%;}
.tablestyle2-2 td:nth-child(4){width: 16%;}
.tablestyle2-2 td:nth-child(5){width: 8%;}
.tablestyle2-2 td:nth-child(6){width: 11%;}
.tablestyle2-2 td:nth-child(7){width: 7%;}
.tablestyle2-2 td:nth-child(8){width: 7%;}
.tablestyle2-2 td:nth-child(9){width: 17%;}
.tablestyle2-2 td:nth-child(10){width: 5%;}
.tablestyle2-2 td:nth-child(11){width: 5%;}

/* 표 tr 배경 색 */
.default_tablestyle2>table>tbody>tr.bgE5ECF5{background-color: #E5ECF5}
.default_tablestyle2>table>tbody>tr.bgCCDAEB{background-color: #CCDAEB}

.tablestyle2-2>table>tbody>tr>td>input{
    border: 1px solid #c3c3c3;
    height: 28px; width: 90%;
    padding: 0 2px; box-sizing: border-box;
}
.tablestyle2-2>table>tbody>tr>td>select{
    border: 1px solid #c3c3c3;
    height: 28px; width: 80%;
    vertical-align: middle;
}
@media screen and (min-height: 1001px){
    .table_box{
        height: 780px!important;
    }
}
@media screen and (max-height: 995px){
    .table_box{
        height: 750px!important;
    }
}
@media screen and (max-height: 980px){
    .table_box{
        height: 720px!important;
    }
}
@media screen and (max-height: 950px){
    .table_box{
        height: 700px!important;
    }
}
@media screen and (max-height: 900px){
    .table_box{
        height: 650px!important;
    }
}
@media screen and (max-height: 850px){
    .table_box{
        height: 600px!important;
    }
    .table_box1{height: 40%;}
    .table_box3{height: 60%;}
}
@media screen and (max-height: 800px){*
    .table_box{
        height: 550px!important;
    }
    .table_box1{height: 40%;}
    .table_box3{height: 60%;}
}
@media screen and (max-height: 750px){
   .table_box{
        height: 500px!important;
    }
    .table_box1{height: 40%;}
    .table_box3{height: 60%;}
}
@media screen and (max-height: 700px){
    .table_box{
        height: 450px!important;
    }
}
@media screen and (max-height: 650px){
    .table_box{
        height: 400px!important;
    }
    .table_box1{height: 50%;}
    .table_box3{height: 50%;}
}
@media screen and (max-height: 600px){
    .table_box{
        height: 350px!important;
    }
    .table_box1{height: 50%;}
    .table_box3{height: 50%;}
}

.delBtn{
	border: none;
	text-indent: -9999em;
	width: 20px; height: 20px;
	vertical-align: middle;
	margin-top:5px;
	background: transparent url(/images/tapCmm/cancel.svg) no-repeat center;
	background-size: 10px;
}